<div class="breadcrumb_container">
  {% include 'breadcrumb' %} 
</div>
{%- if from_filter == true and (collection_type == "region" or (collection_type == "type" and city_product == null and region_product == null)) -%}
  <div class="row">
    <h2 class="text-center">{{-'your-request2' | t -}}&nbsp;{%- include 'product-count' -%}&nbsp;{{-'objects' | t -}}</h2>
  </div>
  {% include 'product-list' %}
{%endif%}

{% if collection.handle != 'arenda' %}
{% include 'headers/header-about' %}
{% endif %}
{%- if collection_type == 'region' or collection_type == 'type' -%}
{% include 'headers/region-header' %}
{%- endif -%}

{%- if collection_type == 'city' -%}
  {% include 'headers/city-header' %}
{%- endif -%}

{%- if collection_type == 'region' or collection_type == 'type' -%}
  {% include 'headers/header-name' %}
  <div class="row">
  {% case collection_type %}
    {% when 'type' %}
      {% include 'market-block/market-block', market_id: meta_info_product.title, market_url: 'storefrontapi/market/type', block_id: collection.handle %}
    {% when 'region'%}
      {% include 'market-block/market-block', market_id: meta_info_product.title, market_url: 'storefrontapi/market/region', block_id: collection.handle %}
    {% when 'city'%}
      {% include 'market-block/market-block', market_id: meta_info_product.title, market_url: 'storefrontapi/market/city', block_id: collection.handle %}
  {% endcase%}
  </div>
{%- endif -%}

{%- if collection_type == 'city' or collection.handle == 'arenda' or (collection_type == 'type' and (region_product or city_product)) -%}
  <h2 class="header-name text-center">{{- meta_info_product.h2_listing -}}</h2>
  <h4 class="text-center">{{'found' | t }} {% include 'product-count' %} {{ 'objects' | t }}</h4>
  {% include 'product-list' %}
{%- endif -%}

{%- if collection_type == 'region' or collection_type == 'type'-%}
  {% include 'footer/region' %}
{%- endif -%}
{% if collection.handle != 'arenda' %}
{% include 'footer/about' %}
{% endif %}
{% include 'blog/blog-collection-list' %}
<div class="row contact-us-footer">
{% include 'footer/contact-us' %}
</div>
<div class="callback-form">
{% include 'footer/request-call' %}
</div>