<div class="breadcrumb_container">
  {% include 'breadcrumb' %} 
</div>
{%- if from_filter == true and (collection.type == "region" or collection.type == "type" or collection.type == "tag" or collection.type == "condition" or collection.type == "other_type") -%}
  <div class="row">
  {% paginate products by 36 %}
    <h2 id="list-products" class="text-center padding15-0">{{-'your-request2' | t -}}&nbsp;{{- paginate.items | num_ending: "найден":"найдено": "найдено": false -}}&nbsp;{%- include 'product-count' -%}</h2>
  {% endpaginate %}
    
  </div>
  {% include 'product-list' %}
{%endif%}

{% if collection.handle != 'arenda' %}
  {% include 'headers/header-about' %}
{% endif %}
{%- if collection.type == 'region' or collection.type == 'type' or collection.type == 'other_type' or collection.type == 'tag' or collection.type == 'condition' -%}
  {% include 'headers/region-header' %}
{%- endif -%}

{%- if collection.type == 'city' or collection.type == 'type_add' or collection.type == "tag_add" or collection.type == "condition_add"  -%}
  {% include 'headers/city-header' %}
{%- endif -%}

{%- if from_filter == false and (collection.type == 'region' or collection.type == 'type' or collection.type == 'other_type' or collection.type == 'tag' or collection.type == 'condition') -%}
  <div>
    <h2 class="header-name margin-top-25 padding0-15">{% if collection.h2_features %}{{- collection.h2_features -}}{%else%}{{'collection.header_features' | t }}{% endif %}</h2>
  </div>
  {% case collection.type %}
    {% when 'other_type' %}
      {% include 'market-block/market-block', market_id: collection.title, market_url: 'storefrontapi/market/other_type', block_id: collection.handle %}
    {% when 'condition' %}
      {% include 'market-block/market-block', market_id: collection.title, market_url: 'storefrontapi/market/condition', block_id: collection.handle %}
    {% when 'tag' %}
      {% include 'market-block/market-block', market_id: collection.title, market_url: 'storefrontapi/market/tag', block_id: collection.handle %}
    {% when 'type_add' %}
      {% include 'market-block/market-block', market_id: collection.title, market_url: 'storefrontapi/market/type', block_id: collection.handle %}
    {% when 'type' %}
      {% include 'market-block/market-block', market_id: collection.title, market_url: 'storefrontapi/market/type', block_id: collection.handle %}
    {% when 'region'%}
      {% include 'market-block/market-block', market_id: collection.title, market_url: 'storefrontapi/market/region', block_id: collection.handle %}
    {% when 'city'%}
      {% include 'market-block/market-block', market_id: collection.handle, market_url: 'storefrontapi/market/city', block_id: collection.handle %}
  {% endcase%}
{%- endif -%}

{%- if collection.type == 'city' or collection.handle == 'arenda' or collection.type == 'type_add' or collection.type == "tag_add" or collection.type == "condition_add" -%}
  <h2 id="list-products" class="header-name text-center margin-bot-0">{{- collection.h2_listing -}}</h2>
{% paginate collection.products by 36 %}
    <h4 class="text-center" >{{- paginate.items | num_ending: "Найден":"Найдено": "Найдено" : false-}}&nbsp;{{- paginate.items | num_ending: " объект":" объекта": " объектов" -}} </h4>
{% endpaginate %}
{% include 'product-list' %}
{%- endif -%}

{%- if collection.type == 'region' or collection.type == 'type' or collection.type == 'tag'  or collection.type == 'other_type' or collection.type == 'condition'-%}
{% include 'footer/region' %}
{%- endif -%}
{% if collection.handle != 'arenda' %}
{% include 'footer/about' %}
{% endif %}
{% include 'blog/blog-collection-list' %}
<div class="row contact-us-footer">
{% include 'footer/contact-us' %}
</div>
<div class="callback-form">
{% include 'footer/request-call' %}
</div>