<div class="header_media">
  <div class="header-bg">
    <div class="header-video">
    {% comment %}
      <video src="{{ 'header-video.webm' | static_asset_url}}" autoplay="true" loop="true">
        <!-- <source type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' /> -->
      </video>
    {% endcomment %}
    </div>
    <div class="header-inner">
      <h1 class="entry-tax header-index">
        {{'index.h1.header' | t }}
      </h1>
      <div class="adv-search-1">
        {% include 'filters/short-main-filter' %}
      </div>
    </div>
    <a class="scroll-btn"></a>
  </div>
</div>
{% include 'filters/short-main-filter-mobile' %}
<main class="container content_wrapper main-page" role="main">
   <div class="row">
      <div class="text-center">
         {{ 'index.h1.title' | t }}
      </div>
      <div>
         <div class="col-md-6">{{ 'index.h1.col1' | t }}</div>
         <div class="col-md-6">
          {{ 'index.h1.col2' | t }}
          <div class="header-about">
            <div class="link-list-about" style="margin-top:10px;">
              <a onclick="slideToBlock('#types')">Типы недвижимости</a>&nbsp;
              <a onclick="slideToBlock('.about-text')">Об агентстве</a>&nbsp;
              <a onclick="slideToBlock('#price')">Цены на недвижимость</a>
            </div>
          </div>
         </div>
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15-0">{{'index.city-region.header' | t}}</h2>
      <div>
         {{ 'index.city-region.text' | t }}
      </div>
      <div class="region-tails">
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/catalonia.jpg' | static_asset_url }})">
              <div class="bottom">
                <a href="/catalonia">
                  <h3>КАТАЛОНИЯ</h3>
                </a>
                <a href="/barcelona-okrestnosti">
                  <h3>БАРСЕЛОНА</h3>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" >
          <div class="block-inner" style="background-image: url({{'images/index/costa-blanka.jpg' | static_asset_url }})">
              <div class="bottom">
                  <a href="/costa-brava">
                    <h3>КОСТА БРАВА</h3>
                  </a>
                  <a href="/costa-maresme">
                    <h3>КОСТА МАРЕСМЕ</h3>
                  </a>
                  <a href="/costa-garraf">
                    <h3>КОСТА ГАРРАФ</h3>
                  </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" >
          <div class="block-inner" style="background-image: url({{'images/index/costa-dorada.jpg' | static_asset_url }})">
              <div class="bottom">
                <a href="/costa-dorada">
                  <h3>КОСТА ДОРАДА</h3>
                </a>
                <a href="/costa-del-valencia">
                  <h3>КОСТА ДЕЛЬ ВАЛЕНСИЯ</h3>
                </a>
              </div>
          </div>
         </div>
      </div>
      <div class="region-tails">
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/costa-brava.jpg' | static_asset_url }})">
              <div class="bottom">
                <a href="/costa-blanca">
                  <h3>КОСТА БЛАНКА</h3>
                </a>
                <a href="/costa-calida">
                  <h3>КОСТА КАЛИДА</h3>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/maresme.jpg' | static_asset_url }})">
              <div class="bottom">
                <a href="/costa-del-sol">
                  <h3>КОСТА-ДЕЛЬ-СОЛЬ</h3>
                </a>
                <a href="/costa-de-la-luz">
                  <h3>КОСТА-ДЕ-ЛА-ЛУЗ</h3>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/del-sol.jpg' | static_asset_url }})">
              <div class="bottom">
                <a href="/andalusia">
                  <h3>АНДАЛУЗИЯ</h3>
                </a>
              </div>
          </div>
         </div>
      </div>
   </div>
   <div>
      <h2 class="text-center padding15" id="types">{{'index.type.header' | t}}</h2>
      <div>
         {{ 'index.type.text' | t }}
      </div>
      <div class="row city-tails ">
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/kvartiri.jpg' | static_asset_url }})">
              <h3>ЭКОНОМИЧНЫЕ ВАРИАНТЫ</h3>
              <ul>
                <li><a href="/kvartiry-apartamenty">КВАРТИРЫ, АПАРТАМЕНТЫ</a></li>
                <li><a href="/townhouse">ТАУНХАУСЫ И БУНГАЛО</a></li>
                <li><a href="/vtorichnaya">ВТОРИЧНАЯ НЕДВИЖИМОСТЬ</a></li>
                <li><a href="/nedorogaya">НЕДОРОГОЕ ЖИЛЬЕ</a></li>
                <li><a href="/ot-bankov">БАНКОВСКАЯ НЕДВИЖИМОСТЬ</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/commerical.jpg' | static_asset_url }})">
              <h3>КОМФОРТ И ИНВЕСТИЦИИ</h3>
              <ul>
                <li><a href="/villy">ВИЛЛЫ</a></li>
                <li><a href="/doma">ДОМА</a></li>
                <li><a href="/novostroyki">НОВОСТРОЙКИ</a></li>
                <li><a href="/elitnaya">ЭЛИТНАЯ НЕДВИЖИМОСТЬ</a></li>
                <li><a href="/kommercheskaya">КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ</a></li>
                <li><a href="/zemlya">ЗЕМЕЛЬНЫЕ УЧАСТКИ</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/elitnaya.png' | static_asset_url }})">
              <h3>ОСОБЕННОЕ ЖИЛЬЕ</h3>
              <ul>
                <li><a href="/na-more">НЕДВИЖИМОСТЬ У МОРЯ</a></li>
                <li><a href="/v-gorah">НЕДВИЖИМОСТЬ В ГОРАХ</a></li>
                <li><a href="/prigorod">ЖИЛЬЕ В ПРИГОРОДАХ</a></li>
                <li><a href="/dlya-pensionerov">НЕДВИЖИМОСТЬ ДЛЯ ПЕНСИОНЕРОВ</a></li>
              </ul>
          </div>
         </div>
      </div>
   </div>
   <div>
      <div>
        <h2 class="text-center padding15-0 no-margin-top-mobile">{{ 'index.info.header' | t }}</h2>
        {% include 'market-block/market-block', market_id: 'main-blog', market_url: 'storefrontapi/market/blog', block_id: 'main-blog' %}
      </div>
      <h2 class="text-center">{{'index.hot-deal.header' | t}}</h2>
      <div>
         {{ 'index.hot-deal.text' | t }}
      </div>
      {% include 'market-block/market-block', market_id: 'hot-deal', market_url: 'storefrontapi/market/main', block_id: 'main' %}
   </div>
   <div class="row about-text">
      <h2 class="text-center padding15">{{'index.about.header' | t}}</h2>
      <div>
        <div class="col-md-6 text-center padding-bottom-15">
          <div class="text-left">
            <div class="padding-bottom-15">{{ 'index.about.text' | t }}</div>
            <div class="about">
              {{ 'index.about.text2' | t}}
            </div>
          </div>
        </div>
        <div class="col-md-6">{{ 'index.about.video' | t }}</div>
      </div>
    </div>
    <div>
      <div class="margin-top-25 no-margin-top-mobile">
         <h2 class="text-center padding15">{{ 'index.last-news' | t }}</h2>
         {% assign related_category = "news" %}
         {% include 'blog/blog-related-category', related_category %}
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15" id="price">{{'index.price.header' | t}}</h2>
      <div>
         <div class="col-md-6">
          {{ 'index.price.col1' | t }}
          {{ 'index.price.col2' | t }}
        </div>
         <div class="col-md-6">
           <div class="padding15-0">
             <img src="{{ 'ceny-index.jpg' | static_asset_url }}" alt="">
           </div>
         </div>
      </div>
   </div>
   {% include 'footer/contact-us' %}
   {% include 'footer/request-call' %}
</main>