<div class="header_media with_search_6">
   <video style="width:100%; height: 400px" height="400" autoplay loop muted plays-inline src="//ak5.picdn.net/shutterstock/videos/1047205/preview/stock-footage-wind-gently-brings-the-curtains-of-an-open-bungalow-terrace-door-in-movement.mp4" class="listing_main_image" id="listing_main_image_photo" style="background-image: url({{meta_info_product.header_image}})">
   </video>
   <div class="search_wrapper search_wr_6  " id="search_wrapper">
      <div class="adv-search-1  adv_extended_class" id="adv-search-6">
         <div class="adv6-holder">
            <div role="tabpanel" class="adv_search_tab" id="tab_prpg_adv6">
               <div class="tab-content">
                  <div id="results" style="opacity: 0;display: block;">
                     {{'found' | t}} <span id="results_no" style="display: inline;"></span> {{'objects' | t}}.
                  </div>
                  <div role="tabpanel" class="tab-pane active">
                     {% include 'filters\short-main-filter' %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<main class="container content_wrapper main-page" role="main">
   <div>
      <h1 class="text-center">{{'index.h1.header' | t}}</h1>
      <div class="text-center">
         {{ 'index.h1.title' | t }}
      </div>
      <div class="row">
         <div class="col-md-6">{{ 'index.h1.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.h1.col2' | t }}</div>
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.city-region.header' | t}}</h2>
      <div>
         {{ 'index.city-region.text' | t }}
      </div>
      <div class="row region-tails">
         <div class="col-md-4" style="background-image: url({{'images/index/costa-brava.jpg' | assets_url }})">
          <div class="block-inner">
              <div class="bottom">
                <a href="/costa-brava">
                  <h4>Коста брава</h4>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" style="background-image: url({{'images/index/maresme.jpg' | assets_url }})">
          <div class="block-inner">
              <div class="bottom">
                  <h4>Коста марисме</h4>
              </div>
          </div>
         </div>
         <div class="col-md-4" style="background-image: url({{'images/index/costa-dorada.jpg' | assets_url }})">
          <div class="block-inner">
              <div class="bottom">
                <a href="/costa-dorada">
                <h4>Коста дорада</h4>
                </a>
              </div>
          </div>
         </div>
      </div>
      <div class="row region-tails">
         <div class="col-md-4" style="background-image: url({{'images/index/costa-blanka.jpg' | assets_url }})">
          <div class="block-inner">
              <div class="bottom">
                <a href="/costa-blanca">
                  <h4>Коста бланка</h4>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" style="background-image: url({{'images/index/del-sol.jpg' | assets_url }})">
          <div class="block-inner">
              <div class="bottom">
                <a href="/costa-del-sol">
                  <h4>Коста дель соль</h4>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" style="background-image: url({{'images/index/catalonia.jpg' | assets_url }})">
          <div class="block-inner">
              <div class="bottom">
                <h4>Каталония</h4>
              </div>
          </div>
         </div>
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.type.header' | t}}</h2>
      <div>
         {{ 'index.type.text' | t }}
      </div>
      <div class="row city-tails">
         <div class="col-md-4" style="background-image: url({{'images/index/kvartiri.jpg' | assets_url }})">
          <div class="block-inner">
              <ul>
                <li><a href="/townhouse">Таунхаусы, бунгало, смежные дома</a></li>
                <li><a href="/kvartiry-apartamenty/na-more">Квартиры и апартаменты на море</a></li>
                <li><a href="/villy">Виллы в Испании</a></li>
                <li><a href="/doma">Дома в Испании</a></li>
                <li><a href="/kvartiry-apartamenty">Квартиры, апартаменты, студии</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4" style="background-image: url({{'images/index/commerical.jpg' | assets_url }})">
          <div class="block-inner">
              <ul>
                <li><a href="/elitnaya">Элитная недвижимость в Испании</a></li>
                <li><a href="/novostroyki">Каталог новостроек Испании</a></li>
                <li><a href="/villy">Виллы в Испании</a></li>
                <li><a href="/vtorichnaya">Вторичное жилье в Испании</a></li>
                <li><a href="/nedorogaya">Недорогая недвижимость в Испании</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4" style="background-image: url({{'images/index/elitnaya.png' | assets_url }})">
          <div class="block-inner">
              <ul>
                <li><a href="/ot-bankov">Недвижимость в Испании от банков</a></li>
                <li><a href="/na-more">Недвижимость у моря</a></li>
                <li><a href="/zemly">Земельные участки</a></li>
                <li><a href="/kommercheskaya">Коммерческая недвижимость</a></li>
              </ul>
          </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div>
        <h3>{{ 'index.info.header' | t }}</h3>
        <div>
          {% assign related_category = "reviews" %}
          {% include 'blog/blog-related-category', related_category %}
        </div>
      </div>
      <h3 class="text-center">{{'index.hot-deal.header' | t}}</h3>
      <div>
         {{ 'index.hot-deal.text' | t }}
      </div>
      {% include 'market-block', products %} 
   </div>
   <div class="row">
      <h2 class="text-center">{{'index.about.header' | t}}</h2>
      <div>
         <div class="col-md-6">{{ 'index.about.text' | t }}</div>
         <div class="col-md-6">{{ 'index.about.video' | t }}</div>
      </div>
      <div>
         <h3>{{ 'index.last-news' | t }}</h3>
         {% assign related_category = "news" %}
         {% include 'blog/blog-related-category', related_category %}
      </div>
   </div>
   <div class="row">
      <h2 class="text-center">{{'index.price.header' | t}}</h2>
      <div>
         <div class="col-md-6">{{ 'index.price.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.price.col2' | t }}</div>
      </div>
   </div>
   {% include 'footer/contact-us' %}
</main>