<div class="header_media with_search_6">
   <video style="width:100%; height: 400px" height="400" autoplay loop muted plays-inline src="//ak5.picdn.net/shutterstock/videos/1047205/preview/stock-footage-wind-gently-brings-the-curtains-of-an-open-bungalow-terrace-door-in-movement.mp4" class="listing_main_image" id="listing_main_image_photo" style="background-image: url({{meta_info_product.header_image}})">
   </video>
   <div class="search_wrapper search_wr_6  " id="search_wrapper">
      <div class="adv-search-1  adv_extended_class" id="adv-search-6">
         <div class="adv6-holder">
            <div role="tabpanel" class="adv_search_tab" id="tab_prpg_adv6">
               <div class="tab-content">
                  <div id="results" style="opacity: 0;display: block;">
                     {{'found' | t}} <span id="results_no" style="display: inline;"></span> {{'objects' | t}}.
                  </div>
                  <div role="tabpanel" class="tab-pane active">
                     {% include 'filters\short-main-filter' %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<main class="container content_wrapper" role="main">
   <div>
      <h1 class="text-center">{{'index.h1.header' | t}}</h1>
      <div>
         <div class="index-hr"></div>
      </div>
      <div class="text-center">
         {{ 'index.h1.title' | t }}
      </div>
      <div class="row text-center">
         <div class="col-md-6">{{ 'index.h1.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.h1.col2' | t }}</div>
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.city-region.header' | t}}</h2>
      <div>
         <div class="index-hr"></div>
      </div>
      <div class="text-center">
         {{ 'index.city-region.text' | t }}
      </div>
      <div class="row region-footer">
         <div class="col-md-3"
            style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
         <div class="col-md-8" 
            style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
      </div>
      <div class="row region-tails">
         <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
         <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
         <div class="col-md-4" style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.type.header' | t}}</h2>
      <div>
         <div class="index-hr"></div>
      </div>
      <div class="text-center">
         {{ 'index.type.text' | t }}
      </div>
      <div class="row region-footer">
         <div class="col-md-3"
              style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
         <div class="col-md-8"
              style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
        <div class="row region-tails">
         <div class="col-md-4"
              style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
         <div class="col-md-4"
              style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
         <div class="col-md-4"
              style="background-image: url(http://wpresidence.net/wp-content/uploads/2015/11/file112128225584523-980x777.jpg)">
            <div class="block-inner center" >
               asdas das dasd
            </div>
         </div>
        </div>
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.hot-deal.header' | t}}</h2>
      <div>
         <div class="index-hr"></div>
      </div>
      <div class="text-center">
         {{ 'index.hot-deal.text' | t }}
      </div>
      {% include 'market-block' %} 
      <div class="row">
        <h3>{{ 'index.info.header' | t }}</h3>
        <div>
          {% assign related_category = "reviews" %}
          {% include 'blog/blog-related-category', related_category %}
        </div>
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.about.header' | t}}</h2>
      <div>
         <div class="index-hr"></div>
      </div>
      <div>
         <div class="col-md-6">{{ 'index.about.text' | t }}</div>
         <div class="col-md-6">{{ 'index.about.video' | t }}</div>
      </div>
      <div>
         <h3>{{ 'index.last-news' | t }}</h3>
         {% assign related_category = "news" %}
         {% include 'blog/blog-related-category', related_category %}
      </div>
   </div>
   <div>
      <h2 class="text-center">{{'index.price.header' | t}}</h2>
      <div>
         <div class="index-hr"></div>
      </div>
      <div class="row text-center">
         <div class="col-md-6">{{ 'index.price.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.price.col2' | t }}</div>
      </div>
   </div>
   {% include 'footer/contact-us' %}
</main>