<div class="header_media with_search_6">
  <div class="video">
    <video src="{{ 'header-video.webm' | assets_url}}" autoplay="true" loop="true">
      <!-- <source type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' /> -->
    </video>
    <div class="video-inner">
      <h1 class="entry-tax">
        {{'index.h1.header' | t }}
      </h1>
      <div class="adv-search-1">
        {% include 'filters/short-main-filter' %}
      </div>
    </div>
  </div>
</div>
{% include 'filters/short-main-filter-mobile' %}
<main class="container content_wrapper main-page" role="main">
   <div class="row">
      <div class="text-center">
         {{ 'index.h1.title' | t }}
      </div>
      <div>
         <div class="col-md-6">{{ 'index.h1.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.h1.col2' | t }}</div>
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15-0">{{'index.city-region.header' | t}}</h2>
      <div>
         {{ 'index.city-region.text' | t }}
      </div>
      <div class="region-tails">
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/costa-brava.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-brava">
                  <h3>КОСТА БРАВА</h3>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" >
          <div class="block-inner" style="background-image: url({{'images/index/maresme.jpg' | assets_url }})">
              <div class="bottom">
                  <a href="/costa-maresme">
                    <h3>КОСТА МАРЕСМЕ</h3>
                  </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" >
          <div class="block-inner" style="background-image: url({{'images/index/costa-dorada.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-dorada">
                <h3>КОСТА ДОРАДА</h3>
                </a>
              </div>
          </div>
         </div>
      </div>
      <div class="region-tails">
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/costa-blanka.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-blanca">
                  <h3>КОСТА БЛАНКА</h3>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/del-sol.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-del-sol">
                  <h3>КОСТА ДЕЛЬ СОЛЬ</h3>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/catalonia.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/catalonia">
                  <h3>КАТАЛОНИЯ</h3>
                </a>
              </div>
          </div>
         </div>
      </div>
   </div>
   <div>
      <h2 class="text-center padding15">{{'index.type.header' | t}}</h2>
      <div>
         {{ 'index.type.text' | t }}
      </div>
      <div class="row city-tails ">
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/kvartiri.jpg' | assets_url }})">
              <h3>ЛЮБЫЕ ВИДЫ <br>НЕДВИЖИМОСТИ <br>ПОД ВАШ ЗАПРОС</h3>
              <ul>
                <li><a href="/kvartiry-apartamenty">КВАРТИРЫ И АПАРТАМЕНТЫ</a></li>
                <li><a href="/townhouse">ТАУНХАУСЫ И БУНГАЛО</a></li>
                <li><a href="/doma">ДОМА</a></li>
                <li><a href="/villy">ВИЛЛЫ</a></li>
              </ul>
              <ul>
                <li><a href="/kvartiry-apartamenty">ЗЕМЕЛЬНЫЕ УЧАСТКИ</a></li>
              </ul>
              <ul>
                <li><a href="/kommercheskaya/">КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ</a></li>
                <li><a href="#">офисы, рестораны, отели, складские помещения</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/commerical.jpg' | assets_url }})">
              <h3>ВАРИАНТЫ <br>ОТ БЮДЖЕТНЫХ <br>ДО ЭЛИТНЫХ</h3>
              <ul>
                <li><a href="/elitnaya">ЭЛИТНАЯ НЕДВИЖИМОСТЬ</a></li>
                <li><a href="/novostroyki">НОВОСТРОЙКИ</a></li>
                <li><a href="/villy">ВТОРИЧНОЕ ЖИЛЬЕ</a></li>
              </ul>
              <ul>
                <li><a href="#">НЕДОРОГАЯ (ДО 130 000 ЕВРО)</a></li>
                <li><a href="#">ЗАЛОГОВАЯ НЕДВИЖИМОСТЬ ОТ БАНКОВ</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/elitnaya.png' | assets_url }})">
              <h3>КОМФОРТНАЯ ЖИЗНЬ <br>У МОРЯ </h3>
              <ul>
                <li><a href="/ot-bankov">КВАРТИРЫ НА ПОБЕРЕЖЬЕ </a></li>
                <li><a href="/na-more">И ДРУГАЯ НЕДВИЖИМОСТЬ У МОРЯ</a></li>
              </ul>
          </div>
         </div>
      </div>
   </div>
   <div>
      <div>
        <h2 class="text-center padding15-0 no-margin-top-mobile">{{ 'index.info.header' | t }}</h2>
        {% include 'market-block/market-block', market_id: 'main-blog', market_url: 'storefrontapi/market/blog', block_id: 'main-blog' %}
      </div>
      <h2 class="text-center">{{'index.hot-deal.header' | t}}</h2>
      <div>
         {{ 'index.hot-deal.text' | t }}
      </div>
      {% include 'market-block/market-block', market_id: 'hot-deal', market_url: 'storefrontapi/market/main', block_id: 'main' %}
   </div>
   <div class="row about-text">
      <h2 class="text-center padding15">{{'index.about.header' | t}}</h2>
      <div>
        <div class="col-md-6 text-center padding-bottom-15">
          <div class="about text-left">
            <div>{{ 'index.about.text' | t }}</div>
            <div class="padding15-0">
              {{ 'index.about.text2' | t}}
            </div>
          </div>
        </div>
        <div class="col-md-6">{{ 'index.about.video' | t }}</div>
      </div>
    </div>
    <div>
      <div class="margin-top-25 no-margin-top-mobile">
         <h2 class="text-center padding15">{{ 'index.last-news' | t }}</h2>
         {% assign related_category = "news" %}
         {% include 'blog/blog-related-category', related_category %}
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15">{{'index.price.header' | t}}</h2>
      <div class="padding30-0">
         <div class="col-md-6">
          {{ 'index.price.col1' | t }}
          {{ 'index.price.col2' | t }}
        </div>
         <div class="col-md-6">
           <img src="{{ 'ceny-index.jpg' | assets_url }}" alt="">
         </div>
      </div>
   </div>
   {% include 'footer/contact-us' %}
   {% include 'footer/request-call' %}
</main>