<div class="header_media with_search_6">
  <div class="video">
    <video autoplay loop>
      <source src="//ak1.picdn.net/shutterstock/videos/1047151/preview/stock-footage-relaxing-couch-outside-seen-through-terrace-doors-with-flying-curtains.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
    </video>
    <div class="video-inner">
      <h1 class="entry-tax">
        {{'index.h1.header' | t }}
      </h1>
      <div class="adv-search-1">
        {% include 'filters/short-main-filter' %}
      </div>
    </div>
  </div>
</div>
{% include 'filters/short-main-filter-mobile' %}
<main class="container content_wrapper main-page" role="main">
   <div class="row">
      <div class="text-center">
         {{ 'index.h1.title' | t }}
      </div>
      <div>
         <div class="col-md-6">{{ 'index.h1.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.h1.col2' | t }}</div>
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15">{{'index.city-region.header' | t}}</h2>
      <div>
         {{ 'index.city-region.text' | t }}
      </div>
      <div class="row region-tails">
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/costa-brava.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-brava">
                  <h4>Коста брава</h4>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4" >
          <div class="block-inner" style="background-image: url({{'images/index/maresme.jpg' | assets_url }})">
              <div class="bottom">
                  <h4>Коста марисме</h4>
              </div>
          </div>
         </div>
         <div class="col-md-4" >
          <div class="block-inner" style="background-image: url({{'images/index/costa-dorada.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-dorada">
                <h4>Коста дорада</h4>
                </a>
              </div>
          </div>
         </div>
      </div>
      <div class="row region-tails">
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/costa-blanka.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-blanca">
                  <h4>Коста бланка</h4>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/del-sol.jpg' | assets_url }})">
              <div class="bottom">
                <a href="/costa-del-sol">
                  <h4>Коста дель соль</h4>
                </a>
              </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/catalonia.jpg' | assets_url }})">
              <div class="bottom">
                <h4>Каталония</h4>
              </div>
          </div>
         </div>
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15">{{'index.type.header' | t}}</h2>
      <div>
         {{ 'index.type.text' | t }}
      </div>
      <div class="row city-tails">
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/kvartiri.jpg' | assets_url }})">
              <ul>
                <li><a href="/townhouse">Таунхаусы, бунгало, смежные дома</a></li>
                <li><a href="/kvartiry-apartamenty/na-more">Квартиры и апартаменты на море</a></li>
                <li><a href="/villy">Виллы в Испании</a></li>
                <li><a href="/doma">Дома в Испании</a></li>
                <li><a href="/kvartiry-apartamenty">Квартиры, апартаменты, студии</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner" style="background-image: url({{'images/index/commerical.jpg' | assets_url }})">
              <ul>
                <li><a href="/elitnaya">Элитная недвижимость в Испании</a></li>
                <li><a href="/novostroyki">Каталог новостроек Испании</a></li>
                <li><a href="/villy">Виллы в Испании</a></li>
                <li><a href="/vtorichnaya">Вторичное жилье в Испании</a></li>
                <li><a href="/nedorogaya">Недорогая недвижимость в Испании</a></li>
              </ul>
          </div>
         </div>
         <div class="col-md-4">
          <div class="block-inner"  style="background-image: url({{'images/index/elitnaya.png' | assets_url }})">
              <ul>
                <li><a href="/ot-bankov">Недвижимость в Испании от банков</a></li>
                <li><a href="/na-more">Недвижимость у моря</a></li>
                <li><a href="/zemly">Земельные участки</a></li>
                <li><a href="/kommercheskaya">Коммерческая недвижимость</a></li>
              </ul>
          </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div>
        <h3>{{ 'index.info.header' | t }}</h3>
        <div>
            <div class="carusel">
              <div id="reviews-slider" class="ca-container">
                <div class="ca-wrapper" style="overflow: hidden">
                    <!--<div class="ca-item ca ca-item-{{ forloop.index }}">
                    </div>-->
                </div>
              </div>
          </div>
        </div>
        <script>
          jQuery("#reviews-slider").contentcarousel();
        </script>
      </div>
      <h3 class="text-center">{{'index.hot-deal.header' | t}}</h3>
      <div>
         {{ 'index.hot-deal.text' | t }}
      </div>
      {% include 'market-block', products %} 
   </div>
   <div class="row">
      <h2 class="text-center padding15">{{'index.about.header' | t}}</h2>
      <div>
         <div class="col-md-6">{{ 'index.about.text' | t }}</div>
         <div class="col-md-6">{{ 'index.about.video' | t }}</div>
      </div>
      <div>
         <h3>{{ 'index.last-news' | t }}</h3>
         {% assign related_category = "news" %}
         {% include 'blog/blog-related-category', related_category %}
      </div>
   </div>
   <div class="row">
      <h2 class="text-center padding15">{{'index.price.header' | t}}</h2>
      <div>
         <div class="col-md-6">{{ 'index.price.col1' | t }}</div>
         <div class="col-md-6">{{ 'index.price.col2' | t }}</div>
      </div>
   </div>
   {% include 'footer/contact-us' %}
   {% include 'footer/request-call' %}
</main>