<div class="row">
  <div class="header_media">
    <div class="product-preview">
        {% for image in product.images %}
        {% if forloop.index > 3 %}
        {% break %}
        {% endif %}
        <div class="preview-item">
          <div class="preview-inner">
            <div class="preview-inner-image" style="background-image: url('{{ image.src | img_url: 'thumb' }}');"></div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
    <div class="row">
    {% include 'breadcrumb' %}
    </div>
    <div class="col-md-9 rightmargin full_width_prop">
        <h1 class="entry-title entry-prop">
           {{ product.custom_title }}
        </h1>
        <span class="price_area"><span class="price_label price_label_before"></span>{% include 'price' with product.price %} </span>
        <div class="single-content listing-content">
            <div class="notice_area">
                <div class="property_categs">
                  <div>

                    {% for property in product.properties %}
                    {% if property.name == 'region' %}
                    {{ property.value}}
                    <span class="divider" >›</span>
                    {%endif%}
                    {% endfor %}

                    {% for property in product.properties %}
                    {% if property.name == 'district' %}
                    {{ property.value}}
                    <span class="divider" >›</span>
                    {%endif%}
                    {% endfor %}
                    
                    {% for property in product.properties %}
                    {% if property.name == 'city' %}
                    {{ property.value}}
                    {%endif%}
                    {% endfor %}
                  </div>
                  <div>
                    {% for property in product.properties %}
                    {% if property.name == 'h2' %}
                    {{ property.value}}
                    {%endif%}
                    {% endfor %}
                    <span class="deal-type">
                    {% for property in product.properties %}
                    {% if property.name == 'dealtype' %}
                    {{ property.value}}
                    {%endif%}
                    {% endfor %}
                    </span>
                  </div>
                </div>
                <!--<div id="add_favorites" class="isnotfavorite" data-postid="139">add to favorites</div>
                <div class="download_pdf"></div>-->
                <div class="prop_social">
                    <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl={{ product.url | full_url }}" target="blank" class="share_ok"><i class="fa fa-odnoklassniki fa-2"></i></a>
                    <a href="https://vk.com/share.php?url={{ product.url | full_url }}" target="blank" class="share_vk"><i class="fa fa-vk fa-2"></i></a>
                    <a href="http://www.facebook.com/sharer.php?u={{ product.url | full_url }}" target="_blank" class="share_facebook"><i class="fa fa-facebook fa-2"></i></a>
                    <a href="http://twitter.com/home?status={{ product.url | full_url }}" class="share_tweet" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                    <a href="https://plus.google.com/share?url={{ product.url | full_url }}" target="_blank" class="share_google"><i class="fa fa-google-plus fa-2"></i></a>
                </div>
            </div>
            <div class="wpestate_property_description">
                <p>{{ product.title }}</p>
                <p>{{ product.description }}</p>
            </div>
            <div class="panel-group property-panel" id="accordion_prop_details">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_prop_details" href="#collapseProperties">
                            <h4 class="panel-title" id="prop_det">{{ 'product.description' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseProperties" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% include 'properties/detail' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group property-panel" id="accordion_prop_full_details">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_prop_full_details" href="#collapseFullDeatils">
                            <h4 class="panel-title" id="prop_det">{{ 'product.full-info' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseFullDeatils" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% include 'properties/info' %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="carousel-listing" class="carousel slide post-carusel" data-ride="carousel" data-interval="false">
                <div>
                <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for image in product.images %}
                        {% if forloop.first %}
                        <div class="item active">
                        {% else %}
                        <div class="item">
                        {% endif %}
                            <a href="{{ image.src }}" title="" rel="prettyPhoto" class="prettygalery">
                                <img src="{{ image.src | img_url: 'large' }}" data-slider-no="{{ forloop.index | minus: 1 }}" alt="" class="img-responsive lightbox_trigger">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="slider-information">
                        <div><span id="current-main-slide">1</span> / {{ product.images.size }}</div>
                    </div>    
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-listing" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-listing" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!-- Indicators -->
                <div class="carusel-back"></div>
                <ol class="carousel-indicators">
                    {% for image in product.images %}
                    {% if forloop.first %}
                    <li data-target="#carousel-listing" data-slide-to="{{ forloop.index | minus: 1 }}" class="active">
                    {% else %}
                    <li data-target="#carousel-listing" data-slide-to="{{ forloop.index | minus: 1 }}" class="">
                    {% endif %}
                        <img src="{{ image.src | img_url: 'small' }}" alt="slider">
                    </li>
                    {% endfor %}
                </ol>
            </div>
            {% for property in product.properties %}
                {% if property.name == 'geopoints' %}
                    {% assign values = property.value | split: ','  %}
                    {% for degree in values %}
                        {% if forloop.first %}
                            {% assign lat = degree %}
                        {% else %}
                            {% assign lon = degree %}
                        {% endif %}
                    {% endfor %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <div class="panel-group property-panel" id="accordion_map">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_map" href="#collapseMap">
                            <h4 class="panel-title" id="prop_det">{{ 'product.map' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseMap" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!-- Google Map -->
                            <div id="gmap_wrapper" data-post_id="" data-cur_lat="{{ lon }}" data-cur_long="{{ lat }}" style="height:400px">
                                <div id="googleMap" style="height:400px">
                                </div>
                                <div class="tooltip"> {{ 'map.enable-zoom' | t }}</div>
                                <div id="gmap-loading">
                                    {{ 'map.loading' | t }}
                                    <div class="spinner map_loader" id="listing_loader_maps">
                                        <div class="rect1"></div>
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                        <div class="rect5"></div>
                                    </div>
                                </div>
                                <div id="gmap-noresult">
                                    {{ 'map.no-result' | t }}
                                </div>
                                <div class="gmap-controls">
                                  <!--  <div id="gmap-control">
                                        <span id="map-view"><i class="fa fa-picture-o"></i>{{ 'map.view' | t }}</span>
                                        <span id="map-view-roadmap" class="map-type">{{ 'map.roadmap' | t }}</span>
                                        <span id="map-view-satellite" class="map-type">{{ 'map.satellite' | t }}</span>
                                        <span id="map-view-hybrid" class="map-type">{{ 'map.hybrid' | t }}</span>
                                        <span id="map-view-terrain" class="map-type">{{ 'map.terrain' | t }}</span>
                                        <span id="geolocation-button"><i class="fa fa-map-marker"></i>{{ 'map.my-location' | t }}</span>
                                        <span id="gmap-full"><i class="fa fa-arrows-alt"></i>{{ 'map.fullscreen' | t }}</span>
                                        <span id="gmap-prev"><i class="fa fa-chevron-left"></i>{{ 'map.prev' | t }}</span>
                                        <span id="gmap-next">{{ 'map.next' | t }}<i class="fa fa-chevron-right"></i></span>
                                    </div>-->
                                    <div id="gmapzoomplus"><i class="fa fa-plus"></i> </div>
                                    <div id="gmapzoomminus"><i class="fa fa-minus"></i></div>
                                    <!--<div id="street-view"><i class="fa fa-location-arrow"></i> {{ 'map.streetview' | t }} </div>-->
                                </div>
                            </div>
                            <!-- END Google Map -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group property-panel" id="accordion_iteractive">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_iteractive" href="#collapseIteractive">
                            <h4 class="panel-title" id="prop_det">{{ 'product.interactive' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseIteractive" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Интерактивные видео
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="agent_contanct_form addition-form">
                <h4 id="show_contact">{{ 'request-form.header2' | t }}</h4>
                <div class="row">
                    <div class="col-md-4">
                        <input name="contact_name" type="text" placeholder="{{ 'request-form.name' | t }}" aria-required="true" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="phone" class="form-control"  placeholder="{{ 'request-form.phone' | t }}">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="email" class="form-control" aria-required="true" placeholder="{{ 'request-form.mail' | t }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="agent_comment" name="comment" class="form-control" cols="45" rows="8" aria-required="true">{{ 'request-form.message' | t }}</textarea>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <span class="license"> {{ 'request-form.license' | t }} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <input type="submit" class="wpresidence_button agent_submit_class" id="agent_submit" value="{{ 'request-form.send' | t }}">
                    </div>
                </div>                
            </div>
        </div>
        <!-- end single content -->
    </div>
    <!--Side bar-->
    <div class="col-xs-12 col-md-3 widget-area-sidebar" id="primary">
        <div class="agent_contanct_form_sidebar">
            <div class="agent_unit" data-link="">
                <div class="agent-unit-img-wrapper">
                    <div class="prop_new_details_back"></div>
                    <img width="525" height="328" src="{{ 'images/women.jpg' | asset_url }}" class="lazyload img-responsive wp-post-image" alt="" data-original="{{ 'images/women.jpg' | asset_url }}">
                </div>
                <div class="">
                    <h4> <a href="">Maria Barlow</a></h4>
                    <div class="agent_position">sales executive</div>
                    <div class="agent_detail"><i class="fa fa-phone"></i>(305) 555-4555</div>
                    <div class="agent_detail"><i class="fa fa-mobile"></i>(305) 555-4555</div>
                    <div class="agent_detail"><i class="fa fa-envelope-o"></i>maria@wpresidence.net</div>
                    <div class="agent_detail"><i class="fa fa-skype"></i>maria.barlow</div>
                </div>
                <div class="agent_unit_social">
                    <div class="social-wrapper">
                        <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> <a href=""><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <!-- </div>    -->
            <div class="agent_contanct_form ">
                <h4 id="show_contact">{{ 'request-form.header' | t }}</h4>
                <div class="alert-box error">
                    <div class="alert-message" id="alert-agent-contact"></div>
                </div>
                <input name="contact_name" id="agent_contact_name" type="text" placeholder="{{ 'request-form.name' | t }}" aria-required="true" class="form-control">
                <input type="text" name="phone" class="form-control" id="agent_phone" placeholder="{{ 'request-form.phone' | t }}">
                <input type="text" name="email" class="form-control" id="agent_user_email" aria-required="true" placeholder="{{ 'request-form.mail' | t }}">
                <textarea id="agent_comment" name="comment" class="form-control" cols="45" rows="8" aria-required="true">{{ 'request-form.message' | t }}</textarea>
                <span class="license"> {{ 'request-form.license' | t }} </span>
                <input type="submit" class="wpresidence_button agent_submit_class" id="agent_submit" value="{{ 'request-form.send' | t }}">
            </div>
        </div>
    </div>
    <!--end Side bar-->
</div>
<!--fullview img-->
<div class="lightbox_property_wrapper" style="display: none;">
   <div class="lightbox_property_wrapper_level2">
      <div class="lightbox_property_content row">
         <div class="lightbox_property_slider col-md-10">
            <div id="carousel-full" class="carousel slide full-carusel" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for image in product.images %}
                    {% if forloop.first %}
                    <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                        <a href="{{ image.src }}">
                            <img src="{{ image.src }}" data-slider-no="{{ forloop.index | minus: 1 }}" alt="" class="img-responsive lightbox_trigger">
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-full" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-full" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
         </div>
         <div class="lightbox_property_sidebar col-md-2">
            <div class="lightbox_property_header">
               <h3>{{ 'request-form.header' | t }}</h3>
            </div>
            <div class="agent_contanct_form">
               <div class="agent_contanct_form ">
                <div class="alert-box error">
                    <div class="alert-message" id="alert-agent-contact"></div>
                </div>
                <input name="contact_name" id="agent_contact_name" type="text" placeholder="{{ 'request-form.name' | t }}" aria-required="true" class="form-control">
                <input type="text" name="phone" class="form-control" id="agent_phone" placeholder="{{ 'request-form.phone' | t }}">
                <input type="text" name="email" class="form-control" id="agent_user_email" aria-required="true" placeholder="{{ 'request-form.mail' | t }}">
                <textarea id="agent_comment" name="comment" class="form-control" cols="45" rows="8" aria-required="true">{{ 'request-form.message' | t }}</textarea>
                <span class="license"> {{ 'request-form.license' | t }} </span>
                <input type="submit" class="wpresidence_button agent_submit_class" id="agent_submit" value="{{ 'request-form.send' | t }}">
            </div>
            </div>
         </div>
      </div>
      <div class="lighbox-image-close">
         <i class="fa fa-times" aria-hidden="true"></i>
      </div>
   </div>
   <div class="lighbox_overlay">
   </div>
</div>
<!--end fullview img -->
<!--Scripts-->
<script type='text/javascript'>
/* <![CDATA[ */
var googlecode_property_vars = {"general_latitude":"{{ lat }}","general_longitude":"{{ lot }}","path":"{{ 'css-images/' | assets_url }}","markers":"[]","camera_angle":"0","idx_status":"0","page_custom_zoom":"16","current_id":"{{ product.id }}","generated_pins":"1","small_map":"0","type":"roadmap"};
var googlecode_property_vars2 = {"markers2":"[[\"{{ product.custom_title }}\",{{ lat }},{{ lon }},1,\"%3Cimg%20width%3D%22400%22%20height%3D%22161%22%20src%3D%22{{ product.featured_image.src | img_url: 'thumb' }}%22%20class%3D%22attachment-property_map1%20size-property_map1%20wp-post-image%22%20alt%3D%22%22%20%2F%3E\",\"%3Cspan%20class%3D%22infocur%20infocur_first%22%3E%3C%2Fspan%3E1.500.000%20%E2%82%AC%3Cspan%20class%3D%22infocur%22%3E%3C%2Fspan%3E\",\"retail\",\"sales\",\"retailsales\",\"{{ product.url | absolute_url }}\",154,1500000,\"2\",\"2\",\"700\",\"Retail\",\"Sales\"]]"};
/* ]]> */
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var mapfunctions_vars = {"path":"{{ 'css-images/' | assets_url }}","pin_images":"{\"idxpin\":\"\",\"userpin\":\"\"}","geolocation_radius":"1000","adv_search":"2","in_text":" in ","zoom_cluster":"13","user_cluster":"yes","open_close_status":"1","open_height":"450","closed_height":"580","generated_pins":"1","geo_no_pos":"The browser couldn't detect your position!","geo_no_brow":"Geolocation is not supported by this browser.","geo_message":"m radius","show_adv_search":"yes","custom_search":"yes","listing_map":"top","slugs":["title-keyword","advanced_city","advanced_area","adv_actions","adv_categ","available-from","property_price",""],"hows":["like","equal","equal","equal","equal","date bigger","greater","equal"],"measure_sys":"m","close_map":"close map","show_g_search_status":"no","slider_price":"yes","slider_price_position":"7","adv_search_type":"2","is_half":"0","map_style":"[]","small_slider_t":"horizontal","is_prop_list":"0","is_tax":"0","half_no_results":"No results found!","fields_no":"6","type":"ROADMAP"};
/* ]]> */
</script>

{{ '//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAezOvbdi_AopToL4h8xUYdxBLExUHAK54&ver=1.0' | script_tag }}
{{ '~/theme-bundler/scripts/map' | script_bundle_tag }}

<!--End scripts-->
<a href="#" class="backtop  islive"><i class="fa fa-chevron-up"></i></a>
<a href="#" class="contact-box  islive"><i class="fa fa-envelope-o"></i></a>
<div class="contactformwrapper hidden"> 
    <div id="footer-contact-form">
        <h4 id="show_contact">{{ 'request-form.header' | t }}</h4>
        <div class="alert-box error">
            <div class="alert-message"></div>
        </div>
        <div class="row">
            <input name="contact_name" type="text" placeholder="{{ 'request-form.name' | t }}" aria-required="true" class="form-control">
        </div>
        <div class="row">
            <input type="text" name="phone" class="form-control"  placeholder="{{ 'request-form.phone' | t }}">
        </div>
        <div class="row">
            <input type="text" name="email" class="form-control"  aria-required="true" placeholder="{{ 'request-form.mail' | t }}">
        </div>
        <div class="row">
            <textarea name="comment" class="form-control" cols="14" rows="8" aria-required="true">{{ 'request-form.message' | t }}</textarea>
        </div>
        <div class="row">
            <span class="license"> {{ 'request-form.license' | t }} </span>
        </div>
        <div class="row">
            <input type="submit" class="wpresidence_button agent_submit_class" id="agent_submit" value="{{ 'request-form.send' | t }}"> 
        </div>
    </div>
</div>