    <div class="header_media">
        <div class="product-preview">
            {% for image in product.images %}
            {% if forloop.index > 3 %}
            {% break %}
            {% endif %}
            <div class="preview-item">
              <div class="preview-inner">
                <div class="preview-inner-image" style="background-image: url('{{ image.src | img_url: 'thumb' }}');"></div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        {% include 'breadcrumb' %}
    </div>
    <div class="col-md-9 rightmargin full_width_prop">
        <h1 class="entry-title entry-prop font-size-30">
           {{ product.custom_title }}
        </h1>
        <div class="single-content listing-content">
            <div class="notice_area">
				<div class="display-price-top">
					<div class="price_area font-size-30"><span class="price_label price_label_before"></span>{% include 'price' with product.price %} </div>
					<div class="property_categs">
					  <div>
						{% for property in product.properties %}
						{% if property.name == 'region' %}
						{{ property.value}}
						<span class="divider" >›</span>
						{%endif%}
						{% endfor %}

						{% for property in product.properties %}
						{% if property.name == 'district' %}
						{{ property.value}}
						<span class="divider" >›</span>
						{%endif%}
						{% endfor %}
						
						{% for property in product.properties %}
						{% if property.name == 'city' %}
						{{ property.value}}
						{%endif%}
						{% endfor %}
					  </div>
					  <div>
						{% for property in product.properties %}
						{% if property.name == 'h2' %}
						{{ property.value}}
						{%endif%}
						{% endfor %}
						
						{% for property in product.properties %}
						{% if property.name == 'dealtype' %}
						<span class="deal-type">
						{{ property.value}}
						</span>
						{%endif%}
						{% endfor %}
					  </div>
					</div>
				</div>
				<div class="display-price-normal">
					<div class="property_categs">
					  <div>
						{% for property in product.properties %}
						{% if property.name == 'region' %}
						{{ property.value}}
						<span class="divider" >›</span>
						{%endif%}
						{% endfor %}

						{% for property in product.properties %}
						{% if property.name == 'district' %}
						{{ property.value}}
						<span class="divider" >›</span>
						{%endif%}
						{% endfor %}
						
						{% for property in product.properties %}
						{% if property.name == 'city' %}
						{{ property.value}}
						{%endif%}
						{% endfor %}
					  </div>
					  <div>
						{% for property in product.properties %}
						{% if property.name == 'h2' %}
						{{ property.value}}
						{%endif%}
						{% endfor %}
						
						{% for property in product.properties %}
						{% if property.name == 'dealtype' %}
						<span class="deal-type">
						{{ property.value}}
						</span>
						{%endif%}
						{% endfor %}
					  </div>
					</div>
					<span class="price_area font-size-30"><span class="price_label price_label_before"></span>{% include 'price' with product.price %} </span>
				</div>
            </div>
            <div class="wpestate_property_description">
                <p>{{ product.title }}</p>
                <p>{{ product.product_description }}</p>
            </div>
            <div class="panel-group property-panel" id="accordion_prop_details">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_prop_details" href="#collapseProperties">
                            <h4 class="panel-title" id="prop_det">{{ 'product.description' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseProperties" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% include 'properties/detail' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group property-panel" id="accordion_prop_full_details">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_prop_full_details" href="#collapseFullDeatils">
                            <h4 class="panel-title" id="prop_det">{{ 'product.full-info' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseFullDeatils" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% include 'properties/info' %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="carousel-listing" class="carousel slide post-carusel list-image-gellery" data-ride="carousel" data-interval="false">
                <div>
                <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for image in product.images %}
                        {% if forloop.first %}
                        <div class="item active">
                        {% else %}
                        <div class="item">
                        {% endif %}
                            <a href="{{ image.src }}" title="" rel="prettyPhoto" class="prettygalery">
                                <img src="{{ image.src | img_url: 'large' }}" data-slider-no="{{ forloop.index | minus: 1 }}" alt="" class="img-responsive lightbox_trigger">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="slider-information">
                        <div><span id="current-main-slide">1</span> / {{ product.images.size }}</div>
                    </div>    
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-listing" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-listing" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!-- Indicators -->
                <div class="carusel-back"></div>
                <ol class="carousel-indicators">
                    {% for image in product.images %}
                    {% if forloop.first %}
                    <li data-target="#carousel-listing" data-slide-to="{{ forloop.index | minus: 1 }}" class="active">
                    {% else %}
                    <li data-target="#carousel-listing" data-slide-to="{{ forloop.index | minus: 1 }}" class="">
                    {% endif %}
                        <img src="{{ image.src | img_url: 'small' }}" alt="">
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="mobile-list-image">
                <ul>
                    {%- for image in product.images -%}
                        <li><img src="{{ image.src | img_url: 'large' }}" alt=""></li>
                    {%- endfor -%}
                </ul>
            </div>
            {% for property in product.properties %}
                {% if property.name == 'geopoints' %}
                    {% assign values = property.value | split: ','  %}
                    {% for degree in values %}
                        {% if forloop.first %}
                            {% assign lat = degree %}
                        {% else %}
                            {% assign lon = degree %}
                        {% endif %}
                    {% endfor %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <div class="panel-group property-panel" id="accordion_map">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_map" href="#collapseMap">
                            <h4 class="panel-title" id="prop_det">{{ 'product.map' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseMap" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!-- Google Map -->
                            <div id="gmap_wrapper" data-post_id="" data-cur_lat="{{ lon }}" data-cur_long="{{ lat }}" style="height:400px">
                                <div id="googleMap" style="height:400px">
                                </div>
                                <div class="tooltip"> {{ 'map.enable-zoom' | t }}</div>
                                <div id="gmap-loading">
                                    {{ 'map.loading' | t }}
                                    <div class="spinner map_loader" id="listing_loader_maps">
                                        <div class="rect1"></div>
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                        <div class="rect5"></div>
                                    </div>
                                </div>
                                <div id="gmap-noresult">
                                    {{ 'map.no-result' | t }}
                                </div>
                                <div class="gmap-controls">
                                    <div id="gmapzoomplus"><i class="fa fa-plus"></i> </div>
                                    <div id="gmapzoomminus"><i class="fa fa-minus"></i></div>
                                </div>
                            </div>
                            <!-- END Google Map -->
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}<div class="panel-group property-panel" id="accordion_iteractive">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_iteractive" href="#collapseIteractive">
                            <h4 class="panel-title" id="prop_det">{{ 'product.interactive' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseIteractive" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Интерактивные видео
                        </div>
                    </div>
                </div>
            </div>{% endcomment %}
            {%- if product.small_description -%}
            <div class="panel-group property-panel" id="accordion_small_description">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion_prop_full_details" href="#collapseSmallDescription">
                            <h4 class="panel-title" id="prop_det">{{ 'product.small-description' | t }}</h4>
                        </a>
                    </div>
                    <div id="collapseSmallDescription" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ product.small_description }}
                        </div>
                    </div>
                </div>
            </div>
            {%- endif -%}
            <div class="agent_contanct_form margin-top-0">
                <div class="no-display-mobile">
                {% include 'footer/contact-us' %}
                </div>
                {% include 'footer/request-call' %}
            </div>
        </div>
        <!-- end single content -->
    </div>
    <!--Side bar-->
    <div class="col-xs-12 col-md-3 widget-area-sidebar">
        <div class="agent_contanct_form_sidebar">
            {% include 'contact' %}
            <!-- </div>    -->
            <div class="agent_contanct_form ">
                <h4 id="show_contact">{{ 'request-form.header' | t }}</h4>
                <div class="spinner" id="contact-us-form-spinner-sidebar" style="display: none;">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div id="contact-us-form-succes-sidebar" class="text-center" style="display: none">    
                    <i class="fa fa-check" aria-hidden="true"></i> {{'callback-form.succes' | t}}
                </div>
                <div id="contact-us-form-fail-sidebar" class="text-center" style="display: none">    
                    <i class="fa fa-times" aria-hidden="true"></i> {{'callback-form.fail' | t}}
                </div>
                <div id="contact-us-form-sidebar">
                    <input type="text" data-property="userName"  placeholder="{{ 'request-form.name' | t }}" aria-required="true" class="form-control">
                    <input type="text" data-property="userPhone" placeholder="{{ 'request-form.phone' | t }}" class="form-control">
                    <input type="email" data-property="userEmail" aria-required="true" placeholder="{{ 'request-form.mail' | t }}" class="form-control" required>
                    {% if product %}
                        <input type="hidden" data-property="objectName" value="{%- include 'product_name' -%}" />
                        <input type="hidden" data-property="formType" value="3" />
                    {% else %}
                        <input type="hidden" data-property="formType" value="4" />
                    {% endif %}
                    <textarea cols="45" rows="8" data-property="userMessage" aria-required="true" class="form-control">
                    {%- if template contains 'product' -%}
                    {{- 'request-form.message-object' | t: name: product.custom_title -}}
                    {%- else -%}
                    {{- 'request-form.message' | t -}}
                    {%- endif -%}
                    </textarea>
                    <span class="license light-text"> {{ 'request-form.license' | t }} </span>
                    <button class="wpresidence_button form-control" id="request-form-submit-sidebar" >{{ 'request-form.send' | t }}</button>
                </div>
            </div>
        </div>
    </div>
    <!--end Side bar-->
</div>
<!--fullview img-->
<div class="lightbox_property_wrapper" style="display: none;">
   <div class="lightbox_property_wrapper_level2">
      <div class="lightbox_property_content row">
         <div class="lightbox_property_slider col-md-10">
            <div id="carousel-full" class="carousel slide full-carusel" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for image in product.images %}
                    {% if forloop.first %}
                    <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                        <a href="{{ image.src }}">
                            <img src="{{ image.src }}" data-slider-no="{{ forloop.index | minus: 1 }}" alt="" class="img-responsive lightbox_trigger">
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-full" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-full" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
         </div>
         <div class="lightbox_property_sidebar col-md-2">
            <div class="lightbox_property_header">
               <h3>{{ 'request-form.header' | t }}</h3>
            </div>
            <div>
                <div class="spinner" id="contact-us-form-spinner-image" style="display: none;">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div id="contact-us-form-succes-iamge" class="text-center" style="display: none">    
                    <i class="fa fa-check" aria-hidden="true"></i> {{'callback-form.succes' | t}}
                </div>
                <div id="contact-us-form-fail-image" class="text-center" style="display: none">    
                    <i class="fa fa-times" aria-hidden="true"></i> {{'callback-form.fail' | t}}
                </div>
                <div id="contact-us-form-image">
                    <input type="text" data-property="userName"  placeholder="{{ 'request-form.name' | t }}" aria-required="true" class="form-control">
                    <input type="text" data-property="userPhone" placeholder="{{ 'request-form.phone' | t }}" class="form-control">
                    <input type="email" data-property="userEmail" aria-required="true" placeholder="{{ 'request-form.mail' | t }}" class="form-control" required>
                    {% if product %}
                        <input type="hidden" data-property="objectName" value="{%- include 'product_name' -%}" />
                        <input type="hidden" data-property="formType" value="3" />
                    {% else %}
                        <input type="hidden" data-property="formType" value="4" />
                    {% endif %}
                    <textarea cols="45" rows="8" data-property="userMessage" aria-required="true" class="form-control">
                    {%- if template contains 'product' -%}
                    {{- 'request-form.message-object' | t: name: product.custom_title -}}
                    {%- else -%}
                    {{- 'request-form.message' | t -}}
                    {%- endif -%}
                    </textarea>
                    <span class="license light-text"> {{ 'request-form.license' | t }} </span>
                    <button class="wpresidence_button form-control" id="request-form-submit-image" >{{ 'request-form.send' | t }}</button>
                </div>
            </div>
         </div>
      </div>
      <div class="lighbox-image-close">
         <i class="fa fa-times" aria-hidden="true"></i>
      </div>
   </div>
   <div class="lighbox_overlay">
   </div>
</div>
<!--end fullview img -->
<!--Scripts-->
<script type='text/javascript'>
/* <![CDATA[ */
var googlecode_property_vars = {"general_latitude":"{{ lat }}","general_longitude":"{{ lot }}","path":"{{ 'css-images/' | assets_url }}","markers":"[]","camera_angle":"0","idx_status":"0","page_custom_zoom":"16","current_id":"{{ product.id }}","generated_pins":"1","small_map":"0","type":"roadmap"};
var googlecode_property_vars2 = {"markers2":"[[\"{{ product.custom_title }}\",{{ lat }},{{ lon }},1,\"%3Cimg%20width%3D%22400%22%20height%3D%22161%22%20src%3D%22{{ product.featured_image.src | img_url: 'thumb' }}%22%20class%3D%22attachment-property_map1%20size-property_map1%20wp-post-image%22%20alt%3D%22%22%20%2F%3E\",\"<span class='infocur infocur_first'></span>{% include 'price' with product.price %}<span class='infocur'></span>\",\"retail\",\"sales\",\"retailsales\",\"{{ product.url | absolute_url }}\",154,{{ product.price }},\"{{product.count_bed_rooms}}\",\"{{product.count_bath_rooms}}\",\"{{ product.square }}\",\"Retail\",\"Sales\"]]"};
/* ]]> */
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var mapfunctions_vars = {"path":"{{ 'css-images/' | assets_url }}","pin_images":"{\"idxpin\":\"\",\"userpin\":\"\"}","geolocation_radius":"1000","adv_search":"2","in_text":" in ","zoom_cluster":"13","user_cluster":"yes","open_close_status":"1","open_height":"450","closed_height":"580","generated_pins":"1","geo_no_pos":"The browser couldn't detect your position!","geo_no_brow":"Geolocation is not supported by this browser.","geo_message":"m radius","show_adv_search":"yes","custom_search":"yes","listing_map":"top","slugs":["title-keyword","advanced_city","advanced_area","adv_actions","adv_categ","available-from","property_price",""],"hows":["like","equal","equal","equal","equal","date bigger","greater","equal"],"measure_sys":"m","close_map":"close map","show_g_search_status":"no","slider_price":"yes","slider_price_position":"7","adv_search_type":"2","is_half":"0","map_style":"[]","small_slider_t":"horizontal","is_prop_list":"0","is_tax":"0","half_no_results":"No results found!","fields_no":"6","type":"ROADMAP"};
/* ]]> */
</script>

{{ '//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAezOvbdi_AopToL4h8xUYdxBLExUHAK54&ver=1.0' | script_tag }}
{{ '~/theme-bundler/scripts/map' | script_bundle_tag }}

