{%- if blog.handle == 'news' -%}
    <div class="row blog-preview-text text-center">{{'blog.news.header-title' | t }}</div>
{%- endif -%}
{%- if blog.handle == 'obzory' -%}
    <h2 class="text-center">{{ 'blog.reviews.header-title' | t }}</h2>
    <div class="row blog-preview-text">
        <div class="col-md-6">{{'blog.reviews.preview-text' | t }}</div>
        <div class="col-md-6">{{'blog.reviews.preview-text2' | t }}</div>
    </div>
{%- endif -%}
{%- if blog.handle == 'blog' -%}
    <div class="text-center">{{ 'blog.blog.header-title' | t }}</div>
{%- endif -%}
{%- if blog.handle == 'style' -%}
    <div class="text-center">{{ 'blog.style.text' | t }}</div>
{%- endif -%}