{% for article in blog.articles %}
    {% if article.category != category_type %}
        {% continue %}
    {% endif %}
    <div class="row handbook-list-article blog2v">
        <h4><a href="{{article.url | absolute_url }}">{{ article.title }}</a></h4>
        <div> {{ article.description }} </div>
        <div class="row">
            <a class="read_more" href="{{article.url | absolute_url}}">{{'blog.read-more' | t  }}<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
{% endfor %}