{% include 'market-block/market-block', market_id: 'blog', market_url: 'storefrontapi/market/blog', block_id: 'blog' %}
<!-- tiles -->
<div class="row region-tails">
    <div class="col-md-4">
        <div class="block-inner" style="background-image: url({{'images/news-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/news">
                    <h3>{{ 'blog.blog.news.header' | t }}</h3>
                    <div>{{'blog.blog.news.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block-inner" style="background-image: url({{'images/reviews-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/obzory">
                    <h3>{{ 'blog.blog.reviews.header' | t }}</h3>
                    <div>{{'blog.blog.reviews.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block-inner" style="background-image: url({{'images/style-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/style">
                    <h3>{{ 'blog.blog.style.header' | t }}</h3>
                    <div>{{'blog.blog.style.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row region-tails info">
    <div class="col-md-12">
        <div class="block-inner" style="background-image: url({{'images/handbook-blog-preview.jpg' | assets_url}})">
            <div class="col-md-6">
                <a href="/info">
                    <h3>{{ 'blog.blog.handbook.header' | t }}</h3>
                    <div>{{'blog.blog.handbook.text' | t }}</div>
                </a>
            </div>
            <div class="col-md-6">
                {{ 'blog.blog.other.text' | t }}
            </div>
        </div>
    </div>
</div>
<!-- end tiles -->

{% paginate blog.articles by 36 %}
  <div class="row region-tails">
    {% for article in blog.articles  %}
      {% include 'blog/blog-item', article: article %}
    {% endfor %}
  </div>
  <div class="row">
    {% if paginate.pages > 1 %}
        {% include 'pagination-custom' %}
    {% endif %}
  </div>
{% endpaginate %}