{{ '/styles/ca-style.css' | asset_url | stylesheet_tag }}
{{ '/styles/jquery.jscrollpane.css' | asset_url | stylesheet_tag }}
<div class="row carusel">
    <div id="last-articles-slider" class="ca-container">
        <div class="ca-wrapper" style="overflow: hidden">
            {% for item in blog.articles %}
                {%- if forloop.index == 6 -%}
                    {%- break -%}
                {%- endif -%}
                <div class="ca-item ca ca-item-{{ forloop.index }}">
                    {% include 'blog/blog-item', article: item %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    jQuery("#last-articles-slider").contentcarousel();
</script>
<!-- tiles -->
<div class="row region-tails">
    <div class="col-md-4">
        <div class="block-inner" style="background-image: url({{'images/news-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/news">
                    <h3>{{ 'blog.blog.news.header' | t }}</h3>
                    <div>{{'blog.blog.news.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block-inner" style="background-image: url({{'images/reviews-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/obzory">
                    <h3>{{ 'blog.blog.reviews.header' | t }}</h3>
                    <div>{{'blog.blog.reviews.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block-inner" style="background-image: url({{'images/style-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/style">
                    <h3>{{ 'blog.blog.style.header' | t }}</h3>
                    <div>{{'blog.blog.style.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row region-tails">
    <div class="col-md-6">
        <div class="block-inner" style="background-image: url({{'images/handbook-blog-preview.jpg' | assets_url}})">
            <div class="bottom">
                <a href="/info">
                    <h3>{{ 'blog.blog.handbook.header' | t }}</h3>
                    <div>{{'blog.blog.handbook.text' | t }}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block-inner" style="background-image: url({{'images/handbook-blog-preview.jpg' | assets_url}})">
            <div class="col-md-12">
                <a href="/info">
                    {{ 'blog.blog.other.text' | t }}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end tiles -->

{% paginate blog.articles by 36 %}
  <div class="row">
    {% for article in blog.articles  %}
      {% include 'blog/blog-item', article: article %}
    {% endfor %}
  </div>
  <div class="row">
    {% if paginate.pages > 1 %}
        {% include 'pagination-custom' %}
    {% endif %}
  </div>
{% endpaginate %}