<ul class="sub-menu wpestate_megamenu_col_4">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4 wpestate_megamenu_first_element  mega_menu_border ">
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/o-kompanii">О компании</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/o-kompanii#contacts">Контакты</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/o-kompanii#reviews">Отзывы</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children wpestate_megamenu_col_4">
        <ul class="sub-menu wpestate_megamenu_col_4">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/partners">Партнерам</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link" href="/o-kompanii#press">Для прессы</a></li>
        </ul>
    </li>
    {%- for blog in blogs -%}
        {%- if blog.handle != 'news' -%}
            {%- continue -%}
        {%- endif -%}
        {%- for article in blog.articles -%}
            {%- if article.handle == 'news/nedvizhimost-v-ispanii-spantao' -%}
            <li class="menu-item menu-item-type-custom menu-item-object-custom wpestate_megamenu_col_4">
                <div class="megamenu-widgets-container">
                    <ul>
                        <li id="text-11" class="widget widget-container sbg_widget blog1 widget_text">
                            <div class="textwidget">
                                <div class="megamenu-demos">
                                    <a href="{{article.handle}}">
                                        <img style="background-image: url('{{ article.image_url | img_url: 'thumb_blog' | absolute_url }}'); background-size: cover; height:170px;visibility: visible;"/>
                                    </a>
                                </div>
                                <a href="{{ article.handle }}">{{ article.title }}</a> 
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            {%- break -%}
            {%- endif -%}
        {%- endfor -%}   
    {% endfor %}
    <li class="menu-item menu-item-type-custom menu-item-object-custom wpestate_megamenu_col_4">
        <div class="megamenu-widgets-container">
            <ul>
                <li id="text-11" class="widget widget-container sbg_widget blog1 widget_text">
                    <div class="textwidget">
                        <div class="megamenu-demos">
                            <a href="/partners">
                                <img src="{{ 'images/partners-preview.jpg' | static_asset_url }}"/>
                            </a>
                        </div>
                        <a href="/partners">Приглашаем к сотрудничеству</a> 
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>