<div class="region-footer">
   <div class="row">
     {%- if collection.link_block_left or collection.link_block_right -%}
     {%- if collection.link_block_left -%}
        <div class="col-md-{%-if collection.link_block_left and collection.link_block_right-%}8{%-else-%}12{%-endif-%}">
           <div class="block-inner" style="background-image: url({{-collection.link_block_left_image | img_url: 'thumb'-}})">
              {{- collection.link_block_left -}}
           </div>
        </div>
        {%- endif -%}
        {%- if collection.link_block_right -%}
        <div class="col-md-{%-if collection.link_block_left and collection.link_block_right-%}4{%-else-%}12{%-endif-%}">
           <div class="block-inner center" style="background-image: url({{-collection.link_block_right_image | img_url: 'thumb'-}})">
              {{- collection.link_block_right -}}
           </div>
        </div>
        {%- endif -%}
     {%- endif -%}
   </div>
   <div class="row">
     {%- if collection.link_block_centr or collection.link_block_centr1 -%}
     <div class="col-md-12">
         <div class="block-inner" style="background-image: url({{-collection.link_block_centr_image | img_url: 'thumb'-}})">
            {%- if collection.link_block_centr and collection.link_block_centr1 -%}
            <div class="col-md-6">
                {{- collection.link_block_centr -}}
            </div>
            <div class="col-md-6">
                {{- collection.link_block_centr1 -}}
            </div>
            {%- elseif collection.link_block_centr -%}
                {{- collection.link_block_centr -}}
            {%- else -%}
                {{- collection.link_block_centr1 -}}
            {%- endif -%}
         </div>
      </div>
     {%- endif -%}
   </div>
</div>