<div class="row region-footer">
   {%- if meta_info_product.link_block_left or meta_info_product.link_block_right -%}
   <div class="row">
      {%- if meta_info_product.link_block_left -%}
      <div class="col-md-{%-if meta_info_product.link_block_left and meta_info_product.link_block_right-%}8{%-else-%}12{%-endif-%}" 
           style="background-image: url({{-meta_info_product.link_block_left_image-}})">
         <div class="block-inner" >
            {{- meta_info_product.link_block_left -}}
         </div>
      </div>
      {%- endif -%}
      {%- if meta_info_product.link_block_right -%}
      <div class="col-md-{%-if meta_info_product.link_block_left and meta_info_product.link_block_right-%}3{%-else-%}12{%-endif-%}" 
           style="background-image: url({{-meta_info_product.link_block_right_image-}})">
         <div class="block-inner center" >
            {{- meta_info_product.link_block_right -}}
         </div>
      </div>
      {%- endif -%}
   </div>
   {%- endif -%}
   {%- if meta_info_product.link_block_centr or meta_info_product.link_block_centr1 -%}
   <div class="row">
      <div class="col-md-12" 
           style="background-image: url({{-meta_info_product.link_block_centr_image-}})" >
         <div class="block-inner row">
            {%- if meta_info_product.link_block_centr and meta_info_product.link_block_centr1 -%}
            <div class="col-md-6">
                {{- meta_info_product.link_block_centr -}}
            </div>
            <div class="col-md-6">
                {{- meta_info_product.link_block_centr1 -}}
            </div>
            {%- elseif meta_info_product.link_block_centr -%}
                {{- meta_info_product.link_block_centr -}}
            {%- else -%}
                {{- meta_info_product.link_block_centr1 -}}
            {%- endif -%}
         </div>
      </div>
   </div>
   {%- endif -%}
</div>