<div class="callback-form">
    <h4 class="text-center">{{ 'callback-form.header' | t }}</h4>
    <h5 class="text-center">{{ 'callback-form.text' | t }}</h5>
    <div class="spinner" id="callback-spinner" style="display: none;">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div id="callback-form">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <input data-property="userName" type="text" class="form-control" placeholder="{{'callback-form.name-ph' | t}}"/>
                    </div>
                    <div class="col-md-6">
                        <input data-property="userPhone" type="text" class="form-control" placeholder="{{'callback-form.phone-ph' | t}}"/>
                    </div>
                    {% if product %}
                        <input type="hidden" data-property="objectName" value="{%- include 'product_name' -%}" />
                        <input type="hidden" data-property="formType" value="1" />
                    {% else %}
                        <input type="hidden" data-property="formType" value="2" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <button class="wpresidence_button form-control" id="callback-send">{{'callback-form.send' | t}}</button>
            </div>
        </div>
        <div class="light-text text-center">{{ 'callback-form.personal-data' | t }}</div>
    </div>
    <div id="callback-succes" class="text-center" style="display: none">    
        <i class="fa fa-check" aria-hidden="true"></i> {{'callback-form.succes' | t}}
    </div>
    <div id="callback-fail" class="text-center" style="display: none">    
        <i class="fa fa-times" aria-hidden="true"></i> {{'callback-form.fail' | t}}
    </div>
</div>