{% unless template == 'index' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    {% if template contains 'collection' %}
      <a href="{{ "/" | absolute_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
      {% for item in collection.breadcrumb %}
        <span class="divider" aria-hidden="true">&rsaquo;</span>
        {% if forloop.last %}
          {{ item.key }}
        {%else%}
          <a href="{{item.value}}">{{item.key}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if template contains 'product' %}
      <a href="{{ "/" | absolute_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
      {% for item in product.breadcrumb %}
        <span class="divider" aria-hidden="true">&rsaquo;</span>
        {% if forloop.last %}
          {{ item.key }}
        {%else%}
          <a href="{{item.value}}">{{item.key}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
{% endunless %}