{% unless template == 'index' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="{{ "/" | absolute_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    {% if template contains 'collection' %}
      {% for item in collection.breadcrumb %}
        <span class="divider" aria-hidden="true">&rsaquo;</span>
        {% if forloop.last %}
          {{ item.key }}
        {%else%}
          <a href="{{item.value | absolute_url}}">{{item.key}}</a>
        {% endif %}
      {% endfor %}
    {% elseif template contains 'product' %}
      {% for item in product.breadcrumb %}
        <span class="divider" aria-hidden="true">&rsaquo;</span>
        {% if forloop.last %}
          {{ item.key }}
        {%else%}
          <a href="{{item.value | absolute_url}}">{{item.key}}</a>
        {% endif %}
      {% endfor %}
    {% elseif template == 'blog' %}

    <span class="divider" aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {% assign blog_url = blog.url | absolute_url %}
      {{ blog.title | link_to: blog_url }}
      <span class="divider" aria-hidden="true">&rsaquo;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
    <span>{{ blog.title }}</span>
    {% endif %}

  {% elseif template == 'article' %}

    <span class="divider" aria-hidden="true">&rsaquo;</span>
    {% assign blog_url = blog.url | absolute_url %}
    {{ blog.title | link_to: blog_url }}
    <span class="divider" aria-hidden="true">&rsaquo;</span>
    <span>{{ article.title }}</span>

  {% elseif template contains 'page' %}

    <span class="divider" aria-hidden="true">&rsaquo;</span>
   <span>{{ page.title }}</span>
  {% elseif template contains 'search' %}
   <span class="divider" aria-hidden="true">&rsaquo;</span>
   <span>Поиск</span>
  {% else %}

    <span class="divider" aria-hidden="true">&rsaquo;</span>
    <span>{{ page_title }}</span>
    {% endif %}
  </nav>
{% endunless %}