<div class="agent_unit">
    <div class="agent-unit-img-wrapper">
        <div class="prop_new_details_back"></div>
        <img src="{{ 'images/women.jpg' | asset_url }}" class="lazyload img-responsive wp-post-image" alt="" data-original="{{ 'images/women.jpg' | asset_url }}">
    </div>
    <div>
        <h4>Лилия Фрейман</h4>
        <div class="agent_position">руководитель отдела продаж</div>
        <div class="agent_detail"><a href="tel:88003332887"><i class="fa fa-phone"></i> 8 800 333 28 87</a></div>
        <div class="agent_detail"><a href="tel:+74951342387 "><i class="fa fa-phone"></i>+7 495 134 23 87</a></div>
        <div class="agent_detail"><a href="mailto:sales@estate-spain.com"><i class="fa fa-envelope-o"></i>sales@estate-spain.com</a></div>
        <div class="agent_unit_social">
            <div class="social-wrapper">
                <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl={{ product.url | full_url }}" target="blank" class="share_ok"><i class="fa fa-odnoklassniki fa-2"></i></a>
                <a href="https://vk.com/share.php?url={{ product.url | full_url }}" target="blank" class="share_vk"><i class="fa fa-vk fa-2"></i></a>
                <a href="http://www.facebook.com/sharer.php?u={{ product.url | full_url }}" target="_blank" class="share_facebook"><i class="fa fa-facebook fa-2"></i></a>
                <a href="http://twitter.com/home?status={{ product.url | full_url }}" class="share_tweet" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                <a href="https://plus.google.com/share?url={{ product.url | full_url }}" target="_blank" class="share_google"><i class="fa fa-google-plus fa-2"></i></a>
            </div>
        </div>
    </div>
    
</div>