<div class="col-md-12 has_prop_slider  listing_wrapper">
<div class="property_listing">
   <div class="listing-unit-img-wrapper">
      <div class="prop_new_details">
         <div class="prop_new_details_back"></div>
         <div class="property_media"><i class="fa fa-camera" aria-hidden="true"></i> {{ product.images.size }}</div>
         <div class="property_location_image">
            <span class="property_marker"></span>
            {{ product.region }}, {{- product.city -}}
            {%- if (product.city and product.district) -%}
            ,
            {% endif %}
            {{- product.district -}}
         </div>
      </div>
      <div id="property_unit_carousel_{{product.id}}" class="carousel property_unit_carousel slide " data-ride="carousel" data-interval="false">
         <div class="carousel-inner">
            {%- for image in product.images -%}
            {% if forloop.index > 5 %}
                {% break %}
            {% endif %}
            {% if forloop.first %}
            <div class="item active">
               {% else %}
               <div class="item">
                  {% endif %}
                  <a href="{{ product.url | absolute_url }}"><img width="525" height="328" src="{{ image.src | img_url: 'thumb' }}" class="lazyload img-responsive wp-post-image" alt="" data-original="{{ image.src | img_url: 'thumb' }}"></a>
               </div>
               {%- endfor -%}
            </div>
            <a href="{{ product.url | absolute_url }}"> </a><a class="left  carousel-control" href="#property_unit_carousel_{{product.id}}" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right  carousel-control" href="#property_unit_carousel_{{product.id}}" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
    <h4><a href="{{ product.url | absolute_url }}">{{ product.custom_title }}</a></h4>
    <div class="listing_unit_price_wrapper">
        <span class="price_label price_label_before"> {% include 'price' with product.price %}</span>
    </div>
    <div class="listing_details the_list_view" style="display: block">
        {{- product.description | strip_html | slice: 0, 180 | strip -}}
        {%- if product.description.size > 180 -%}
           ... <a href="{{product.url | absolute_url}}">[{{ 'collection.read-more' | t }}]</a>
        {%- endif -%}
    </div>
    <div class="property_listing_details">
        <span class="inforoom">{{ product.count_bed_rooms }}</span>
        <span class="infobath">{{ product.count_bath_rooms }}</span> 
        <span class="infosize">{{ product.square | replace: ".00", "" }} {{ 'product.square' | t }}</span>
        <a href="{{ product.url | absolute_url }}" class="unit_details_x">{{ 'collection.full-info' | t }}</a> 
    </div>
   </div>
</div>