<!DOCTYPE html>
<html class="no-touch no-js">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {% if settings.favicon_enable %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
      {% endif %}
      <title>
         {{ page_title }}{% if current_tags %}{% assign current_tags_joined = current_tags | join: ', ' %} - {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} - {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}
      </title>
      {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
      {% endif %}
      {% include 'google-tag-manager-head' %}
      {% include 'open-graph-tags' %}
      <!--{% include 'twitter-card' %}-->
      <link rel="canonical" href="{{ canonical_url }}" />
      <base href="{{ '/' | absolute_url }}" />
      {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' | stylesheet_tag }}
      {{ '/styles/style.css' | asset_url | stylesheet_tag }}
      {{ '/styles/custom-style.css' | asset_url | stylesheet_tag }}
      {{ '/styles/orange-theme.css' | asset_url | stylesheet_tag }}
      {{ '/styles/my_media.css' | asset_url | stylesheet_tag }}
      {% include 'google-fonts' %}
      {{ content_for_header }}
      {% include 'oldIE-js' %}
      {{ '//code.jquery.com/jquery-3.2.1.min.js' | script_tag }}
      {{ '~/theme-bundler/scripts' | script_bundle_tag }}
   </head>
   <body id="{{ page_title | handle }}" class="estate_property-template-default single single-estate_property postid-668 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">
      <div class="website-wrapper" id="all_wrapper">
         <div class="container main_wrapper  wide has_header_type3 contentheader_left cheader_left " style="padding: 0px;">
            <div class="master_header wide">
               <div class="mobile_header">
                  <div class="mobile-trigger"><i class=" fa fa-bars"></i></div>
                  <div class="mobile-logo">
                     <a href="{{ '/' | absolute_url }}">
                     <img class="img-responsive retina_ready" src="https://static.tildacdn.com/tild6236-6133-4462-a335-306337653633/estate_fix.jpg" alt="logo">        
                     </a>
                  </div>
                  <div class="mobile-trigger-user">
                     <i class=" fa fa-cogs"></i>           
                  </div>
               </div>
               <div class="header_wrapper  header_type3 header_left hover_type_ header_alignment_text_">
                  <div class="header_wrapper_inside " data-logo="https://static.tildacdn.com/tild6236-6133-4462-a335-306337653633/estate_fix.jpg" data-sticky-logo="">
                     <div class="logo">
                        <a href="{{ '/' | absolute_url }}">
                        <img id="logo_image" style="margin-top:0px; height: 48px;" src="https://static.tildacdn.com/tild6236-6133-4462-a335-306337653633/estate_fix.jpg" class="img-responsive retina_ready" alt="logo">                    </a>
                     </div>
                     <a class="navicon-button header_type3_navicon" id="header_type3_trigger">
                        <div class="navicon"></div>
                     </a>
                  </div>
               </div>
            </div>
            <main class="container content_wrapper" role="main">
               {{ content_for_layout }}
            </main>
         </div>
         <footer id="colophon" role="contentinfo" class="  footer_back_repeat  ">
            <div id="footer-widget-area" class="row ">
               <div id="first" class="widget-area col-md-3 ">
                  <ul class="xoxo">
                       <li id="text-10" class="widget-container widget_text">
                           <h3 class="widget-title-footer">{{ 'footer.about' | t | upcase }}</h3>
                           <div class="textwidget">
                               WP RESIDENCE is committed to delivering a high level of expertise, customer service, and attention to detail to the marketing and sales of luxury real estate, and rental properties.
                           </div>
		               </li>
                       <li id="social_widget-1" class="widget-container social_sidebar">
                           <div class="social_sidebar_internal">
                               <a href="#" target="_blank"><i class="fa fa-rss  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-facebook  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-twitter  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-dribbble  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-google-plus  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-linkedin  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-tumblr  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-pinterest  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-youtube  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-vimeo-square  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa fa-instagram  fa-fw"></i></a>
                               <a href="#" target="_blank"><i class="fa  fa-foursquare  fa-fw"></i></a>
                           </div>
                       </li>
                   </ul>
               </div>
               <!-- #first .widget-area -->
               <div id="second" class="widget-area col-md-3">
                   <ul class="xoxo">
                       <li id="contact_widget-1" class="widget-container contact_sidebar">
                           <h3 class="widget-title-footer">{{ 'footer.contacts' | t | upcase }}</h3>
                           <div class="contact_sidebar_wrap">
                               <p class="widget_contact_addr">
                                   <i class="fa fa-building-o"></i>3755 Commercial St SE Salem, Corner with Sunny Boulevard, 3755 Commercial OR 97302
                               </p>
                               <p class="widget_contact_phone">
                                   <i class="fa fa-phone"></i><a href="tel:%28305%29+555-4446">(305) 555-4446</a>
                               </p>
                               <p class="widget_contact_fax">
                                   <i class="fa fa-print"></i>(305) 555-4446
                               </p>
                           </div>
                       </li>
                      <li class="widget-container contact_sidebar">
                          <div class="contact_sidebar_wrap">
                              <p class="contact-sidebar-request">
                                  <input type="submit" class="wpresidence_button" value="{{ 'request-form.send-request' | t | upcase }}"/>
                              </p>
                              <p class="contact-sidebar-call-back">
                                  <input type="submit" class="wpresidence_button"  value="{{ 'request-form.callback' | t | upcase }}"/>
                              </p>
                          </div>
                      </li>
                   </ul>
               </div>
               <!-- #second .widget-area -->
               <div id="third" class="widget-area col-md-3">
                  <div class="textwidget">
                       <ul class="xoxo">
                           {% for item in collections %}
                           <li><a href="{{ item.url | absolute_url }}"> {{ item.title }}</a></li>
                           {% endfor %}
                       </ul>
                   </div>
               </div>
               <!-- #third .widget-area -->
               <div id="fourth" class="widget-area col-md-3">
                  <div class="textwidget">
                       <ul class="xoxo">
                           {% for page in pages %}
                           <li><a href="{{ item.url | absolute_url }}"> {{ item.title }}</a></li>
                           {% endfor %}
                       </ul>
                   </div> 
               </div>
               <!-- #fourth .widget-area -->
            </div>
            <div class="sub_footer">
               
            </div>
         </footer>
      </div>
   </body>
</html>