<div class="header_media with_search_6">
    <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url('{{- 'images/about_header_img.jpg' | asset_url -}}')">
        <div class="description-header">
            <h1 class="entry-title entry-tax">
                {{ 'about.header-main' | t }}
            </h1>
            <div class="margin-auto">
                {{ 'about.header-main-title' | t }}
            </div>
        </div>
    </div>
</div>
<main class="container content_wrapper about-page" role="main">   
    {% include 'breadcrumb' %}
    <div class="row">
        <div class="col-md-4">
            <h3>{{'about.header' | t }}</h3>
            <div class="about-hr"></div>
            <div> {{'about.text' | t }} </div>
        </div>
        <div class="col-md-4">
            <h3>{{'about.header2' | t }}</h3>
            <div class="about-hr"></div>
            <div> {{'about.text2' | t }} </div>
        </div>
        <div class="col-md-4">
            <h3>{{'about.header3' | t }}</h3>
            <div class="about-hr"></div>
            <div> {{'about.text3' | t }} </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>{{'about.header4' | t }}</h3>
            <div class="about-hr"></div>
            <div> {{'about.text4' | t }} </div>
        </div>
        <div class="col-md-4">
            <h3>&nbsp;</h3>
            <div class="about-hr" style="background: none;"></div>
            <div> {{'about.text5' | t }} </div>
        </div>
        <div class="col-md-4">
            <img src="{{ 'images/logo.png' | assets_url }}">
        </div>
    </div>
    <div class="text-center">
        <h3>{{ 'about.header5' | t }}</h3>
        <div class="about-hr margin-auto"></div>
        <div> {{'about.text6' | t }} </div>
    </div>
    <div>
        <div id="team-carusel" class="carousel slide about-carusel" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#team-carusel" data-slide-to="0" class="active"></li>
                <li data-target="#team-carusel" data-slide-to="1"></li>
                <li data-target="#team-carusel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="testimonial-container type_class_2  slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00">
                        <div class="testimonial-image" style="background-image:url(http://wpresidence.net/wp-content/uploads/2014/06/testimonial-11_53f1beda047f1305685726b50e78c1f7.jpg)"></div>
                        <div class="testimonial-author-line"><span class="testimonial-author">Lisa Simpson</span>, happy buyer </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-container type_class_2  slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00">
                        <div class="testimonial-image" style="background-image:url(http://wpresidence.net/wp-content/uploads/2014/06/testimonial-11_53f1beda047f1305685726b50e78c1f7.jpg)"></div>
                        <div class="testimonial-author-line"><span class="testimonial-author">Lisa Simpson</span>, happy buyer </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-container type_class_2  slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00">
                        <div class="testimonial-image" style="background-image:url(http://wpresidence.net/wp-content/uploads/2014/06/testimonial-11_53f1beda047f1305685726b50e78c1f7.jpg)"></div>
                        <div class="testimonial-author-line"><span class="testimonial-author">Lisa Simpson</span>, happy buyer </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#team-carusel" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#team-carusel" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div>
        <h3 class="text-center">{{ 'about.header6' | t }}</h3>
        <div class="about-hr margin-auto"></div>
        <div class="text-center">{{ 'about.text7' | t }}</div>
        <div id="review-carusel" class="carousel slide about-carusel" data-ride="carousel" data-interval="false" style="min-height: 400px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#review-carusel" data-slide-to="0" class="active"></li>
                <li data-target="#review-carusel" data-slide-to="1"></li>
                <li data-target="#review-carusel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row_inner">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_inner">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="testimonial-container type_class_1 ">
                                                    <div class="testimonial-image" style="background-image:url({{ 'user_default_img_women.png' | assets_url }})"></div>
                                                    <div class="testimonial-text">«Очень понравился внимательный подход, помощь в бронировании, подробный рассказ о выбранном месте и оперативные ответы, на все возникающие вопросы. La Zenia... Я теперь понимаю почему "Ла") Потому что спустя пару дней у тебя внутри возникает мелодия: "ла, ла, ла, ла". А ещё об этом месте можно сказать - дружелюбное, спокойное, восстанавливающее ... для уставшего тела и души»!</div>
                                                    <div class="testimonial-author-line"><span class="testimonial-author">Наталья Ф.</span>, Россия</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 35px;">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row_inner">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_inner">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="testimonial-container type_class_1 ">
                                                    <div class="testimonial-image" style="background-image:url({{ 'user_default_img_women.png' | assets_url }})"></div>
                                                    <div class="testimonial-text">"Здравствуйте Лилия! Спасибо огромное за помощь и поддержку в столь не простой, но на отлично выполненной работе. Качеством работы компании довольны во всем. Постпродажного обслуживания пока не было, но надеемся на сотрудничество с компанией и в дальнейшем, и выражаем свою огромную благодарность за все!"</div>
                                                    <div class="testimonial-author-line"><span class="testimonial-author">Марина С.</span>, Узбекистан</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row_inner">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_inner">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="testimonial-container type_class_1 ">
                                                    <div class="testimonial-image" style="background-image:url({{ 'user_default_img_women.png' | assets_url }})"></div>
                                                    <div class="testimonial-text">«Спасибо ребятам, отдельное спасибо - Алие! Очень помогла с выбором вариантов, все решала очень быстро и оперативно. Живем в Барселоне, но подумываем о дальней даче в Торревьехе ))) Если будет покупать - советую через Estate Spain.»</div>
                                                    <div class="testimonial-author-line"><span class="testimonial-author">Анна И.</span>, Испания</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 35px;">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row_inner">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_inner">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="testimonial-container type_class_1 ">
                                                    <div class="testimonial-image" style="background-image:url({{ 'user_default_img_women.png' | assets_url }})"></div>
                                                    <div class="testimonial-text">«Приобрела жилье в городке Guardamar del Segura. Очень нравится это место, я рекомендую его и для жизни, и для сезонного отдыха в Испании. Чистый воздух, всё в пешей доступности, красиво, пляж отличный. Иногда, правда, море бывает очень волнистое».</div>
                                                    <div class="testimonial-author-line"><span class="testimonial-author">Мария</span>, Испания</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row_inner">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_inner">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="testimonial-container type_class_1 ">
                                                    <div class="testimonial-image" style="background-image:url({{ 'user_default_img_women.png' | assets_url }})"></div>
                                                    <div class="testimonial-text">«Ваш отзыв может быть следующим ☺ От недвижимости в солнечно Испании вас отделяет только один звонок. Не откладывайте, обращайтесь прямо сегодня! Все контакты есть на нашем сайте».</div>
                                                    <div class="testimonial-author-line"><span class="testimonial-author">Лилия Фрейман</span>, Руководитель отдела продаж.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#review-carusel" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#review-carusel" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8">
                <h3>{{'footer.contacts' | t}}:</h3>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank"><i class="fa fa-odnoklassniki  fa-fw"></i></a>
                <a href="#" target="_blank"><i class="fa fa-vk  fa-fw"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook  fa-fw"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter  fa-fw"></i></a>
                <a href="#" target="_blank"><i class="fa fa-google-plus  fa-fw"></i></a>
            </div>
        </div>
        <div class="hr-contacts"></div>
        <div>
            <div class="col-md-4 list-contacts">
                <ul>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88003332887">8 800 333 28 87</a>
                    </li>
                    <li>
                        <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+74951342387">+7 495 134 23 87</a>
                    </li>
                    <li>
                        <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+34627713505">+34 627 713 505</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:sales@estate-spain.com">sales@estate-spain.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <i class="fa fa-home" aria-hidden="true"></i> <strong>{{ 'about.main-address-title' | t }}</strong> {{'about.main-address' | t}}
            </div>
            <div class="col-md-4">
                <i class="fa fa-home" aria-hidden="true"></i> {{ 'about.main-address-desc' | t }}
            </div>
        </div>
    </div>
    <div>
        <div id="map" style="width: 100%; height:500px;"></div>
        <script>
            function initMap() {
                var position = { lat: 38.070457, lng: -0.705019 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17,    
                    center: position
                });
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: '{{- 'about.main-address' | t -}}'
                });
            }
        </script>            
        {{ '//maps.googleapis.com/maps/api/js?key=AIzaSyAezOvbdi_AopToL4h8xUYdxBLExUHAK54&callback=initMap' | script_tag }}
    </div>
</main>