<div class="header_media with_search_6">
    <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url('{{- 'images/dict_city_header.jpg' | static_asset_url -}}')">
        <div class="description-header">
            <h1>
                {{ 'dict-city.header' | t }}
            </h1>
        </div>
    </div>
</div>
<main class="container content_wrapper list-city-container" role="main">                                
  <div class="row city-item">
    <div class="col-md-6">
        <h2>Коста Брава и Барселона</h2>
        <div class="city-desc">
            <a href="https://estate-spain.com/costa-brava">Коста Брава</a> - северо-восточное побережье Испании, входит в состав провинции Каталония, столица - Барселона
        </div>
        <h4>{{ 'list-city.most-popular' | t }}</h4>
        <div class="list-city">
            <ul>
                <li><a href="https://estate-spain.com/sagaro">Сагаро</a></li>
                <li><a href="https://estate-spain.com/playa-de-aro">Плайя-де-Аро</a></li>
                <li><a href="https://estate-spain.com/tossa-de-mar">Тосса-де-Мар</a></li>
                <li><a href="https://estate-spain.com/lloret-de-mar">Ллорет-де-Мар</a></li>
                <li><a href="https://estate-spain.com/blanes">Бланес</a></li>
                <li><a href="https://estate-spain.com/barcelona">Барселона</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="{{'images/costa-brava-map.jpg' | static_asset_url}}">
    </div> 
  </div>
  <div class="row city-item">
    <div class="col-md-6">
        <h2>Коста Дорада и Таррагона</h2>
        <div class="city-desc">
            <a href="https://estate-spain.com/costa-dorada">Коста-Дорада</a> - очень популярное побережье Испании благодаря близости к Барселоне и известному парку развлечений Порт Авентура. 
        </div>
        <h4>{{ 'list-city.most-popular' | t }}</h4>
        <div class="list-city">
            <ul>
                <li><a href="https://estate-spain.com/salou">Салоу</a></li>
                <li>Ситжес</li>
                <li>Камбрильс</li>
                <li>Таррагона</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="{{'images/costa-dorada-map.jpg' | static_asset_url}}">
    </div> 
  </div>
  <div class="row city-item">
    <div class="col-md-6">
        <h2>Коста дель Валенсия</h2>
        <div class="city-desc">
            Валенсия и побережье рядом - крайне востребованое направление у студентов, ведь Университет Валенсии - один из лучших не только в Испании, но и в Европе.
        </div>
        <h4>{{ 'list-city.most-popular' | t }}</h4>
        <div class="list-city">
            <ul>
                <li>Кастельон</li>
                <li><a href="https://estate-spain.com/valencia">Валенсия</a></li>
                
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="{{'images/valensia-map.jpg' | static_asset_url}}">
    </div> 
  </div>
  <div class="row city-item">
    <div class="col-md-6">
        <h2>Коста Бланка (северная часть) и Бенидорм</h2>
        <div class="city-desc">
            Cеверная часть побережья <a href="https://estate-spain.com/costa-blanca">Коста Бланки</a> известна своими живописными видами и средоточием вилл и домов в уютных курортных урбанизациях. 
        </div>
        <h4>{{ 'list-city.most-popular' | t }}</h4>
        <div class="list-city">
            <ul>
                <li><a href="https://estate-spain.com/denia">Дения</a></li>
                <li><a href="https://estate-spain.com/valencia">Хавея</a></li>
                <li><a href="https://estate-spain.com/benitachell">Бенитачель</a></li>
                <li><a href="https://estate-spain.com/moraira">Морайра</a></li>
                <li><a href="https://estate-spain.com/calpe">Кальп</a></li>
                <li><a href="https://estate-spain.com/altea">Алтея</a></li>
                <li><a href="https://estate-spain.com/benidorm">Бенидорм</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="{{'images/costa-blanka-n.jpg' | static_asset_url}}">
    </div> 
  </div>
  <div class="row city-item">
    <div class="col-md-6">
        <h2>Коста Бланка (южная часть) и Аликанте</h2>
        <div class="city-desc">
            Южная побережья <a href="https://estate-spain.com/costa-blanca">Коста Бланки</a> - бессменный лидер по продажам недвижимости, а также новому строительству, самое демократичное и популярное побережье Испании.
        </div>
        <h4>{{ 'list-city.most-popular' | t }}</h4>
        <div class="list-city">
            <ul>
                <li><a href="https://estate-spain.com/alicante">Аликанте</a></li>
                <li><a href="https://estate-spain.com/campoamor">Кампоамор</a></li>
                <li><a href="https://estate-spain.com/santa-pola">Санта Пола</a></li>
                <li><a href="https://estate-spain.com/guardamar-del-segura">Гуардамар-дель-Сегура</a></li>
                <li><a href="https://estate-spain.com/calpe">Сьюдад Кесада и Рохалес</a></li>
                <li><a href="https://estate-spain.com/la-mata">Ла Мата</a></li>
                <li><a href="https://estate-spain.com/torrevieja">Торревьеха</a></li>
                <li><a href="https://estate-spain.com/punta-prima">Пунта Прима</a></li>
                <li><a href="https://estate-spain.com/orihuela-costa">Ориуэла Коста</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="{{'images/costa-blanka-s.jpg' | static_asset_url}}">
    </div> 
  </div>
  <div class="row city-item">
    <div class="col-md-6">
        <h2>Коста дель Соль и Марбелья</h2>
        <div class="city-desc">
            <a href="https://estate-spain.com/costa-del-sol">Коста дель Соль</a> - излюбленное место отдыха у состоятельной публики со всего мира, что отражается на стоимости как самой недвижимости, так и инфраструктуры. 
        </div>
        <h4>{{ 'list-city.most-popular' | t }}</h4>
        <div class="list-city">
            <ul>
                <li><a href="https://estate-spain.com/malaga">Малага</a></li>
                <li><a href="https://estate-spain.com/marbella">Марбелья</a></li>
                <li><a href="https://estate-spain.com/estepona">Эстепона</a></li>
                <li>Пуэрто Банус</li>                
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="{{'images/costa-blanka-s.jpg' | static_asset_url}}">
    </div> 
  </div>
  <div class="row">
    <div>
        <p>
            Каждый регион Испании уникален и самобытен, ведь испанцы очень бережно хранят свои национальные традиции.
            Это отражается не только в архитектуре, кулинарии, но и менталитете жителей разных регионов.
        </p>
        <br/>
        <p>
            Для покупателей недвижимости определяющими факторами для выбора того или иного региона будут являться климатические и ландшафтные условия,
            стоимость самого жилья и инфраструктуры для жизни, а также близость "точек интереса" - пляжей, гор, музеев, медицинских центров, культурного отдыха,
            ночных клубов и казино, школ и университетов.
            Более детально ознакомиться с особенностями каждого из регионов и ценами на недвижимость в нем можно в этой статье.
        </p>
        <br/>
        <p>
            В Испании есть, из чего выбрать - пять лучших побережий этой страны
             - абсолютные рекордсмены по продажам на них жилой недвижимости иностранцам. 
             Если не можете определиться с выбором - обращайтесь к нам, мы всегда поможем и 
             проконсультируем по особенностям того или иного региона Испании!
        </p>
    </div>
  </div>
  {% include 'footer/contact-us' %}
  {% include 'footer/request-call' %}
</main>