<div class="static" data-name="opros">
    <div class="opros-head">
        <div class="opros-inner">
            <h4 class="opros-t">{{ 'opros.header' | t }}</h4>
            <h1 class="opros-sub">{{ 'opros.header2' | t }}</h1>
            <div class="opros-descr">{{ 'opros.text' | t }}</div>
        </div>
    </div>
    <div class="opros-body">
        <div class="opros-action">
            <a href="https://ru.surveymonkey.com/r/estatespain" class="wpresidence_button">
                {{ 'opros.button' | t }}
            </a>
        </div>
        <div class="opros-reviews container">
            <h2 class="review-t">{{ 'opros.opinion' | t }}</h2>
            <ul class="list">
                <li class="list-item">
                    <div class="list-ico woman"></div>
                    <div class="list-info">
                        <div class="list-descr">Я пеерехала в Испанию (Торревьеху) в августе 2012-го года из Уфы. До сих пор здесь, не жалею, что приехала!)) Мне пока все нравится. Повезло с соседями с местом. Иногда не хватает общения, но для этого есть скайп и другие мессенджеры. Живем по принципу испанской поговорки - "Как здорово ничего не делать, и после этого отдохнуть". )))</div>
                        <div class="list-meta">
                            <span class="list-author">Алена 33 года</span>, туристический менеджер
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-ico man"></div>
                    <div class="list-info">
                        <div class="list-descr">Недвижимость приобрел в декабре 2014 в Гвардамаре. Постоянно не живу (хотя очень бы хотелось). Вид на жительство получать не планирую, так как деньги умею зарабатывать пока только в России. Все отдыхи и поездки за рубеж теперь привязываю к Испании, пока все нравится!</div>
                        <div class="list-meta">
                            <span class="list-author">Андрей, Москва 42 года</span>, свой бизнес
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-ico man"></div>
                    <div class="list-info">
                        <div class="list-descr">Четвёртый год пошел и вторая резиденция два месяца назад продлилась. Первые два года жили по визам. Мы пенсионеры у себя на родине, есть доп. источники дохода от ранее созданного бизнеса (сейчас им управляют дети, и даже более эффективно). Ореал обитания - Oruhuela Costa. Не знаю, насколько это - опыт проживания, но коротко: жизнь, конечно, здесь комфортнее в психологическом плане - от тебя никому ничего не нужно, кругом все улыбаются, на дорогах, даже в высокий сезон. Хотя иногда хочется, чтобы полиция была построже (к припаркованным). Сначала чувствовал себя туристом и ничто не напрягало, с изучением языка и обычаев - начал значительно лучше относиться к мигрантам (адекватным) у себя на родине. В самом начале принятия решения о переезде в Испанию на одном из форумов прочитал: "Не рвите полностью с родиной, оставьте хоть маленькую возможность вернуться". Очень прав тот человек! Некоторым хватает и недели на Родине, чтобы бегом обратно в Испанию, кому-то надо больше, кто-то остаётся там. Поскольку и у меня и у жены здесь общее состояние здоровья значительно лучше ( хотя даже платная медицина по нормальной страховке - не супер) - мы здесь надолго!</div>
                        <div class="list-meta">
                            <span class="list-author">Павел 61 год</span>, пенсионер
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-ico woman"></div>
                    <div class="list-info">
                        <div class="list-descr">У нас дом в Испании, живем тут три года (я постоянно, муж ездит по работе в Москву часто). Провинция Мурсия. У нас ближайший город Картахена. Горы подходят прямо к поселку, поэтому очень красиво. Что касается цен. Жизнь в Испании достаточно дешевая. Но у всех свои запросы. Электричество и вода дорогие. В каждом регионе цены разные. Даже если Вы там не живете, все равно платите ежемесячно за аренду счетчиков. Мы платим 45 евро в месяц. В новых застройках может быть дороже. За эксплуатацию цены разные, от 30 до 150 евро в месяц. Сразу интересуйтесь. Налог на недвижимость у нас 150 евро в год.</div>
                        <div class="list-meta">
                            <span class="list-author">Алла 47 лет</span>, домохозяйка
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container content_wrapper">
  {% include 'footer/contact-us' %}
  {% include 'footer/request-call' %}
</div>