<div class="container content_wrapper full-width" role="main">
  <div class="full-img-bg" style="background-image: url('{{- 'images/unsubscribe_header.jpg' | asset_url -}}')">
    <div class="bg-overview">
      <div class="container unsubscribe">
          <h1>{{ 'unsubscribe.title' | t }}</h1>
          <div class="text">{{ 'unsubscribe.text' | t }}</div>
          <div class="form"> 
              <input type="email" placeholder="{{ 'unsubscribe.email-placeholder' | t }}"/> 
              <button class="wpresidence_button">{{ 'unsubscribe.button' | t }}</button> 
          </div>
      </div>
    </div>
  </div>
</div>