<!-- <div class="container content_wrapper full-width" role="main">
  <div class="full-img-bg" style="background-image: url('{{- 'images/we.jpg' | asset_url -}}')">
    <div class="container welcom">
        <a href="{{ '/' | absolte_url }}"><img src="{{- 'images/we-text1.png' | asset_url -}}"></a>
    </div>
  </div>
</div>
 -->
<div class="static" data-name="email">
    <div class="static-inner">
        <a href="{{ '/' | absolte_url }}">
        	<img src="{{- 'images/we-text1.png' | asset_url -}}">
        </a>
    </div>
</div>