<div class="row additional-filters">
   <div class="col-md-12 filters">
    <div class="row">
      <div class="listing_filters_head" id="addition-filter-controls">
         <div class="dropdown listing_filter_select {% if collection.current_bed_rooms_filter %}selected{% endif %}">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.bed-count' | t }}
             {%- if collection.current_bed_rooms_filter -%}
                : <span class="dd-select-value">{{ collection.current_bed_rooms_filter.value }}</span>
             {%-endif-%}
             <span class="caret caret_filter"></span>
            </div>
            <input type="hidden" id="bed-count" value="{{- collection.current_bed_rooms_filter.value -}}" property-name="bedrooms">
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action" data-default-value="{{ 'filter.bed-count' | t }}">
               <li data-value="*" value="{{ 'filter.bed-count-any' | t }}">{{ 'filter.bed-count-any' | t }}</li>
                {% for item in collection.bed_rooms_filter %}
                    <li display-header="{{ 'filter.bed-count' | t }}" data-value="{{ item.value }}">{{ item.value }}</li>
                {% endfor %}
            </ul>
         </div>
         <div class="dropdown listing_filter_select {% if collection.current_bath_rooms_filter %}selected{% endif %}">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.bath-count' | t }}
             {%- if collection.current_bath_rooms_filter -%}
                : <span class="dd-select-value">{{ collection.current_bath_rooms_filter.value }}</span>
             {%-endif-%}
             <span class="caret caret_filter"></span>
            </div>
            <input type="hidden" id="bath-count" property-name="bath" value="{{- collection.current_bath_rooms_filter.value -}}">
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action" data-default-value="{{ 'filter.bath-count' | t }}">
               <li data-value="*" value="{{ 'filter.bath-count-any' | t }}">{{ 'filter.bath-count-any' | t }}</li>
                {% for item in collection.bath_rooms_filter %}
                    <li display-header="{{ 'filter.bath-count' | t }}" data-value="{{ item.value }}">{{ item.value }}</li>
                {% endfor %}
            </ul>
         </div>
         <div class="dropdown listing_filter_select {% if collection.current_property_square_filter %}selected{% endif %}">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
             {{ 'filter.square' | t }}
             {%- if collection.current_property_square_filter -%}
                ({{ 'product.square' | t }})
                : <span class="dd-select-value">{{ collection.current_property_square_filter.value }}</span>
             {%-endif-%}
             <span class="caret caret_filter"></span>
            </div>
            <input type="hidden" id="property-square" value="{{- collection.current_property_square_filter.value -}}" property-name="propertysquare">
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action" data-default-value="{{ 'filter.square' | t }}">
               <li data-value="*" value="{{ 'filter.square-any' | t }}">{{ 'filter.square-any' | t }}</li>
                {% for item in collection.property_square_filter %}
                    <li display-header="{{ 'filter.square' | t }} ({{ 'product.square' | t }})" data-value="{{ item.value }}">{{ item.value }}</li>
                {% endfor %}
            </ul>
         </div>
         <div class="dropdown listing_filter_select {% if collection.current_land_square_filter %}selected{% endif %}">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
             {{ 'filter.landsquare' | t }}
             {%- if collection.current_land_square_filter -%}
             ({{ 'product.square' | t }})
                : <span class="dd-select-value">{{ collection.current_land_square_filter.value }}</span>
             {%-endif-%}
             <span class="caret caret_filter"></span>
            </div>
            <input type="hidden" id="land-square" value="{{- collection.current_land_square_filter.value -}}" property-name="landsquare">
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action" data-default-value="{{ 'filter.landsquare' | t }}">
               <li data-value="*" value="{{ 'filter.landsquare-any' | t }}">{{ 'filter.landsquare-any' | t }}</li>
                {% for item in collection.land_square_filter %}
                    <li display-header="{{ 'filter.landsquare' | t }} ({{ 'product.square' | t }})" data-value="{{ item.value }}">{{ item.value }}</li>
                {% endfor %}
            </ul>
         </div>
      </div>
    </div>
    <div class="row" id="filter-checks">
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="terrace" {%- if collection.current_sys_filter_value contains 'terrace' -%} checked {%- endif -%}>
                {{ 'filter.terrace' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="parking" {%- if collection.current_sys_filter_value contains 'parking' -%} checked {%- endif -%}>
                {{ 'filter.parking' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="security" {%- if collection.current_sys_filter_value contains 'security' -%} checked {%- endif -%}>
                {{ 'filter.security' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="seaview" {%- if collection.current_sys_filter_value contains 'seaview' -%} checked {%- endif -%}>
                {{ 'filter.seaview' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="solarium" {%- if collection.current_sys_filter_value contains 'solarium' -%} checked {%- endif -%}>
                {{ 'filter.solarium' | t }}
            </label>    
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="pools" {%- if collection.current_sys_filter_value contains 'pools' -%} checked {%- endif -%}>
                {{ 'filter.pool' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="lift" {%- if collection.current_sys_filter_value contains 'lift' -%} checked {%- endif -%}>
                {{ 'filter.lift' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="garden" {%- if collection.current_sys_filter_value contains 'garden' -%} checked {%- endif -%}>
                {{ 'filter.garden' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" value="furniture" {%- if collection.current_sys_filter_value contains 'furniture' -%} checked {%- endif -%}>
                {{ 'filter.furniture' | t }}
            </label>
        </div>
        {% if collection.current_tag_filter %}
        <div class="col-md-2">
            <label>
                <input type="checkbox" data-ignore="true" id="tag-value" property-name="tag" checked value="{{ collection.current_tag_filter.value}}">
                {{ collection.current_tag_filter.value}}
            </label>
        </div>
        {% endif %}
    </div>
   </div>
   {% comment %}
   <div class="col-md-3">
      <div class="info">{{ 'filter.dispatch' | t }}</div>
   </div>
   {% endcomment %}
</div>