<div class="row additional-filters">
   <div class="col-md-12 filters">
    <div class="row">
      <div class="listing_filters_head">
         <div class="dropdown listing_filter_select">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.flat' | t }} <span class="caret caret_filter"></span>
            </div>
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action">
               <li role="presentation" data-value="all">
                  All Actions
               </li>
               <li role="presentation" data-value="rentals">Rentals (15)</li>
               <li role="presentation" data-value="sales">Sales (10)</li>
            </ul>
         </div>
         <div class="dropdown listing_filter_select">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.bed-count' | t }} <span class="caret caret_filter"></span>
            </div>
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action">
               <li role="presentation" data-value="all">
                  All Actions
               </li>
               <li role="presentation" data-value="rentals">Rentals (15)</li>
               <li role="presentation" data-value="sales">Sales (10)</li>
            </ul>
         </div>
         <div class="dropdown listing_filter_select">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.bath-count' | t }} <span class="caret caret_filter"></span>
            </div>
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action">
               <li role="presentation" data-value="all">
                  All Actions
               </li>
               <li role="presentation" data-value="rentals">Rentals (15)</li>
               <li role="presentation" data-value="sales">Sales (10)</li>
            </ul>
         </div>
         <div class="dropdown listing_filter_select">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.square' | t }} <span class="caret caret_filter"></span>
            </div>
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action">
               <li role="presentation" data-value="all">
                  All Actions
               </li>
               <li role="presentation" data-value="rentals">Rentals (15)</li>
               <li role="presentation" data-value="sales">Sales (10)</li>
            </ul>
         </div>
         <div class="dropdown listing_filter_select order_filter">
            <div data-toggle="dropdown" class="filter_menu_trigger" aria-expanded="false"> 
            {{ 'filter.landsquare' | t }} <span class="caret caret_filter"></span>
            </div>
            <ul class="dropdown-menu filter_menu" role="menu" aria-labelledby="a_filter_action">
               <li role="presentation" data-value="all">
                  All Actions
               </li>
               <li role="presentation" data-value="rentals">Rentals (15)</li>
               <li role="presentation" data-value="sales">Sales (10)</li>
            </ul>
         </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.terrace' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.parking' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.security' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.seaview' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.solarium' | t }}
            </label>    
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.pool' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.lift' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.garden' | t }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox">
                {{ 'filter.furniture' | t }}
            </label>
        </div>
    </div>
   </div>
   {% comment %}
   <div class="col-md-3">
      <div class="info">{{ 'filter.dispatch' | t }}</div>
   </div>
   {% endcomment %}
</div>