{%- if collection.handle == 'arenda' -%}
<div class="header_media with_search_6">
   <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url({{ 'images/arenda_category_header.jpg' | assets_url }})">
      <div class="description-header blog-header-container text-center">
        <h1 class="blog-header">{{ 'arenda.header' | t }}</h1>
      </div>
   </div>
</div>
{% elseif template contains 'search' %}
<div class="header_media with_search_6">
    <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url({{'images/search_header.jpg' | assets_url}})">
      <div class="description-header">
        {% paginate products by 36 %}
            <h1 class="entry-title entry-tax">{{- 'your-request2' | t -}}&nbsp;{{- paginate.items | num_ending: " объект":" объекта": " объектов" -}} </h1>
        {% endpaginate %}
      </div>
   </div>
   <div class="search_wrapper search_wr_6  " id="search_wrapper">
      <div class="adv-search-1  adv_extended_class" id="adv-search-6">
         <div class="adv6-holder">
            <div role="tabpanel" class="adv_search_tab" id="tab_prpg_adv6">
               <div class="tab-content">
                <div id="results" style="opacity: 0;display: block;">
                    {{'found' | t}} <span id="results_no" style="display: inline;"></span>.
                </div>
                  <div role="tabpanel" class="tab-pane active">
                     {% include 'filters\main-filter' %}
                  </div> 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% else %}
<div class="header_media with_search_6">
    <div class="listing_main_image" id="listing_main_image_photo" style="background-image: url({{collection.header_image}})">
      <div class="description-header with-filters">
         <h1 class="blog-header">
            {% if collection.h1 == null %}
                {{ collection.full_name }}
            {% else %}
                {{- collection.h1 -}}
            {% endif %}
            
            
         </h1>
         {% paginate collection.products by 36 %}   
            <div class="blog-header">{{- 'your-request' | t -}}&nbsp;{{- paginate.items | num_ending: "представлен": "представленно": "представленно": false -}}&nbsp;{{- paginate.items | num_ending: " объект":" объекта": " объектов" -}} </div>
         {% endpaginate %}
      </div>
   </div>
   <div class="search_wrapper search_wr_6  " id="search_wrapper">
      <div class="adv-search-1  adv_extended_class" id="adv-search-6">
         <div class="adv6-holder">
            <div role="tabpanel" class="adv_search_tab" id="tab_prpg_adv6">
               <div class="tab-content">
                <div id="results" style="opacity: 0;display: block;">
                    {{'found' | t}} <span id="results_no" style="display: inline;"></span> {{'objects' | t}}.
                </div>
                  <div role="tabpanel" class="tab-pane active">
                     {% include 'filters\main-filter' %}
                  </div> 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}