{% include 'filters/filter-seo-data' %}
<div style="z-index: 10000" id="main-filter-controls">
	<div class="main-filter-container">
		<div class="col-md-6">
			{% include 'filters/location' %}
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control {%- if collection.current_estate_type_filter -%}
					{{- ' selected' -}}
					{%-endif-%}">
				<div data-toggle="dropdown" class=" filter_menu_trigger">
					{%- if collection.current_estate_type_filter -%}
					{{ collection.current_estate_type_filter.value }}
					{%-else-%} 
					{{ 'filter.category' | t }}
					{%-endif-%}
					<span class="caret caret_filter "></span>
				</div>
				<input data-ignore type="hidden"
					   data-seo-path="{{ collection.current_estate_type_filter.value | filter_seo_link: 'estatetype': filter_seo_links}}"
					   property-name="estatetype" id="estate-type-value" value="{{ collection.current_estate_type_filter.value }}">
				<ul class="dropdown-menu filter_menu" data-default-value="{{ 'filter.category' | t }}">
					<li data-value="*" value="{{ 'filter.category-any' | t }}">{{ 'filter.category-any' | t }}</li>
					{% for item in collection.estate_type_filter %}
					<li data-value="{{ item.value }}" data-seo-path="{{ item.value | filter_seo_link: 'estatetype': filter_seo_links}}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control {%- if collection.current_other_type_filter -%}
					{{- ' selected' -}}
					{%-endif-%}">
				<div data-toggle="dropdown" class="filter_menu_trigger">
					{%- if collection.current_other_type_filter -%}
					{{ collection.current_other_type_filter.value }}
					{%-else-%} 
					{{ 'product.other_type' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input property-name="other_type"
					   type="hidden"
					   id="other_type"
					   value="{{- collection.current_other_type_filter.value -}}">
				<ul class="dropdown-menu filter_menu" data-default-value="{{ 'product.other_type' | t }}">
					<li data-value="*" value="{{ 'product.other_type-any' | t }}">{{ 'product.other_type-any' | t }}</li>
					{% for item in collection.other_type_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control {%- if collection.current_condit_filter -%}
					{{- ' selected' -}}
					{%-endif-%}">
				<div data-toggle="dropdown" class=" filter_menu_trigger">
					{%- if collection.current_condit_filter -%}
					{{ collection.current_condit_filter.value }}
					{%-else-%} 
					{{ 'product.condition' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" 
					   property-name="condition"
					   id="condition-value" 
					   value="{{ collection.current_condit_filter.value }}">
				<ul class="dropdown-menu filter_menu" data-default-value="{{ 'product.condition' | t }}">
					<li data-value="*" value="{{ 'product.condition-any' | t }}" >{{ 'product.condition-any' | t }}</li>
					{% for item in collection.condit_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3 distance-to-sea">
			<div class="dropdown form-control {%- if collection.current_sea_distance_filter -%}
					{{- ' selected' -}}
					{%-endif-%}">
				<div data-toggle="dropdown" class="filter_menu_trigger distance-to-sea-display" data-value="{{ collection.current_sea_distance_filter.value }}">
					<span class="vl">{{ 'product.distancetosea' | t }}</span>
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="distancetosea" id="distancetosea-range" value="{{ collection.current_sea_distance_filter.value }}">
				<ul class="dropdown-menu filter_menu" data-default-value="{{ 'product.distancetosea' | t }}">
					<li data-value="*" value="{{ 'product.distancetosea-any' | t }}">{{ 'product.distancetosea-any' | t }}</li>
					<li data-value="low300" formated-value="{{'filter.to' | t }} 300 {{'filter.m' | t }} {{ 'filter.to-sea' | t}}">{{'filter.to' | t }} 300 {{'filter.m' | t }}</li>
					<li data-value="low500" formated-value="{{'filter.to' | t }} 500 {{'filter.m' | t }} {{ 'filter.to-sea' | t}}">{{'filter.to' | t }} 500 {{'filter.m' | t }}</li>
					<li data-value="low1000" formated-value="{{'filter.to' | t }}1000 {{'filter.m' | t }} {{ 'filter.to-sea' | t}}">{{'filter.to' | t }} 1000 {{'filter.m' | t }}</li>
					<li data-value="low2000" formated-value="{{'filter.to' | t }} 2000 {{'filter.m' | t }} {{ 'filter.to-sea' | t}}">{{'filter.to' | t }} 2000 {{'filter.m' | t }}</li>
					<li data-value="low5000" formated-value="{{'filter.to' | t }} 5000 {{'filter.m' | t }} {{ 'filter.to-sea' | t}}">{{'filter.to' | t }} 5000 {{'filter.m' | t }}</li>
					<li data-value="up5000" formated-value="{{ 'filter.more' | t }} 5000 {{'filter.m' | t }} {{ 'filter.to-sea' | t}}">{{ 'filter.more' | t }} 5000 {{'filter.m' | t }}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 price-cmb">
			<div class="dropdown form-control {%- if collection.current_price_range_filter -%}
					{{- ' selected' -}}
					{%-endif-%}">
				<div data-toggle="dropdown" class="filter_menu_trigger" data-value="{{ collection.current_price_range_filter.value }}">
					<span class="vl">{{ 'filter.price2' | t }}</span>
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" 
					   property-name="price"
					   id="price-value"
					   value="{{ collection.current_price_range_filter.value }}">
				<ul class="dropdown-menu filter_menu" data-default-value="{{ 'product.filter.price2' | t }}">
					<li data-value="*" value="{{ 'filter.price2-any' | t }}">{{ 'filter.price2-any' | t }}</li>
					<li data-value="low100000">{{ 'filter.to' | t }} 100 000 {{ current_currency.symbol }}</li>
					<li data-value="100000-150000"> 100 000 - 150 000 {{ current_currency.symbol }}</li>
					<li data-value="150000-200000"> 150 000 - 200 000 {{ current_currency.symbol }}</li>
					<li data-value="200000-500000">200 000 - 500 000 {{ current_currency.symbol }}</li>
					<li data-value="500000-1000000">500 000 - 1 000 000 {{ current_currency.symbol }}</li>
					<li data-value="1000000-1500000">1 000 000 - 1 500 000 {{ current_currency.symbol }}</li>
					<li data-value="up2000000">{{ 'filter.more' | t }} 2 000 000  {{ current_currency.symbol }}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<button id="send-main-filter" class="wpresidence_button">
				<span id="count-objects">
					{{ 'filter.show-result' | t }}
					{% if template contains 'search' %}
					{% paginate products by 36 %}
					<span id="result-count">{{ paginate.items | num_ending: " объект":" объекта": " объектов" }}</span>
					{% endpaginate %}
					{% else %}
					<span id="result-count">{%- include 'product-count' -%}</span>
					{% endif %}
				</span>
			</button>
		</div>
	</div>
	<div class="adv_extended_options_text" id="adv_extended_options_text_adv">{{ 'filter.addition-options' | t }}</div>
	<div class="extended_search_check_wrapper" style="display: none;">
	<span id="adv_extended_close_adv" class="adv_extended_close_button" style="display: none;"><i class="fa fa-times"></i></span>
	{% include 'filters/additional-filter' %}
	</div>
</div>