<div style="z-index: 10000">
	<div class="main-filter-container" id="main-filter-controls">
		<div class="col-md-3" {%- if region_product -%} style="display: none;" {%-endif-%}>
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_region_filter.value }}">
					{%- if collection.current_region_filter -%}
						{{ collection.current_region_filter.value }}
					{%-else-%} 
						{{ 'product.region' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="region" id="region-value" value="{{ collection.current_region_filter.value }}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'product.region' | t }}">{{ 'filter.any' | t }}</li>
					{% for item in collection.region_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3" {%- if city_product -%} style="display: none;" {%-endif-%}>
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_city_filter.value }}">
					{%- if collection.current_city_filter -%}
						{{ collection.current_city_filter.value }}
					{%-else-%} 
						{{ 'product.city' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="city" id="city-value" value="{{ collection.current_city_filter.value }}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'product.city' | t }}">{{ 'filter.any' | t }}</li>
					{% for item in collection.city_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3" {%- if type_product -%} style="display: none;" {%-endif-%}>
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_estate_type_filter.value }}">
					{%- if collection.current_estate_type_filter -%}
					{{ collection.current_estate_type_filter.value }}
					{%-else-%} 
					{{ 'filter.category' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="estatetype" id="estate-type-value" value="{{ collection.current_estate_type_filter.value }}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'filter.category' | t }}">{{ 'filter.any2' | t }}</li>
					{% for item in collection.estate_type_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_estate_type_filter.value }}">
					{%- if collection.current_other_type_filter -%}
					{{ collection.current_other_type_filter.value }}
					{%-else-%} 
					{{ 'product.other_type' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input property-name="other_type" type="hidden" id="other_type" value="{{- collection.current_other_type_filter.value -}}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'product.other_type' | t }}">{{ 'filter.any' | t }}</li>
					{% for item in collection.other_type_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_condit_filter.value }}">
					{%- if collection.current_condit_filter -%}
					{{ collection.current_condit_filter.value }}
					{%-else-%} 
					{{ 'product.condition' | t }}
					{%-endif-%}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="condition" id="condition-value" value="{{ collection.current_condit_filter.value }}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'product.condition' | t }}">{{ 'filter.any2' | t }}</li>
					{% for item in collection.condit_filter %}
					<li data-value="{{ item.value }}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_sea_distance_filter.value }}">
					{{ 'product.distancetosea' | t }}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="distancetosea" id="distancetosea-range" value="{{ collection.current_sea_distance_filter.value }}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'product.distancetosea' | t }}">{{ 'filter.any2' | t }}</li>
					<li data-value="distancetosea-under-300">{{'filter.to' | t }} 300 {{'filter.m' | t }}</li>
					<li data-value="distancetosea-300-500">300 - 500 {{'filter.m' | t }}</li>
					<li data-value="distancetosea-500-1000">500 - 1000 {{'filter.m' | t }}</li>
					<li data-value="distancetosea-1000-2000">1000 - 2000 {{'filter.m' | t }}</li>
					<li data-value="distancetosea-2000-5000">2000 - 5000 {{'filter.m' | t }}</li>
					<li data-value="distancetosea-over-5000">{{ 'filter.more' | t }} 5000 {{'filter.m' | t }}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control ">
				<div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="{{ collection.current_price_range_filter.value }}">
					{{ 'filter.price2' | t }}
					<span class="caret  caret_filter "></span>
				</div>
				<input type="hidden" property-name="price" id="price-value" value="{{ collection.current_price_range_filter.value }}">
				<ul class="dropdown-menu filter_menu">
					<li data-value="*" value="{{ 'filter.price2' | t }}">{{ 'filter.any3' | t }}</li>
					<li data-value="price-under-100000">{{ 'filter.to' | t }} 100 000 {{ current_currency.symbol }}</li>
					<li data-value="price-100000-150000"> 100 000 - 150 000 {{ current_currency.symbol }}</li>
					<li data-value="price-150000-200000"> 150 000 - 200 000 {{ current_currency.symbol }}</li>
					<li data-value="price-200000-500000">200 000 - 500 000 {{ current_currency.symbol }}</li>
					<li data-value="price-500000-1000000">500 000 - 1 000 000 {{ current_currency.symbol }}</li>
					<li data-value="price-1000000-1500000">1 000 000 - 1 500 000 {{ current_currency.symbol }}</li>
					<li data-value="price-over-2000000">{{ 'filter.more' | t }} 2 000 000  {{ current_currency.symbol }}</li>
				</ul>
			</div>
		</div>
		{%- if region_product == null or city_product == null or type_product == null  -%}
			{%- if region_product -%}
		<div class="col-md-3">
		</div>
			{%- endif -%}
			{%- if city_product -%}
		<div class="col-md-3">
		</div>
			{%- endif -%}
			{%- if type_product -%}
		<div class="col-md-3">
		</div>
			{%- endif -%}
		{%- endif -%}
		<div class="col-md-3">
			<button id="send-main-filter" class="wpresidence_button">
				<span id="no-filter">{{ 'filter.action' | t }}</span>
				<span style="display:none" id="count-objects">
					{{ 'filter.show-result' | t }} 
					<span id="result-count"></span>
					{{ 'objects' | t }}
				</span>
			</button>
		</div>
	</div>
	<div class="adv_extended_options_text" id="adv_extended_options_text_adv">{{ 'filter.addition-options' | t }}</div>
	<div class="extended_search_check_wrapper" style="display: none;">
	<span id="adv_extended_close_adv" class="adv_extended_close_button" style="display: none;"><i class="fa fa-times"></i></span>
	{% include 'filters/additional-filter' %}
	</div>
</div>

<script>
jQuery(document).ready(function(){
    //distance to sea
    setCurrentValueDd(jQuery(".search_wrapper li"),'{{collection.current_sea_distance_filter.value}}');
    // price range
    setCurrentValueDd(jQuery(".search_wrapper li"),'{{collection.current_price_range_filter.value}}');
});
{% comment %}
// set price from range
jQuery("#min-price-value, #max-price-value").change(function () {
    var price = "";
    var minPriceVl = jQuery("#min-price-value").val();
    var maxPriceVl = jQuery("#max-price-value").val();
    if(minPriceVl && maxPriceVl)
    {
        price = formatPrice(minPriceVl) + ' - ' + formatPrice(maxPriceVl);
    }
    else if(minPriceVl)
    {
        price = formatPrice(minPriceVl);
    }
    else if(maxPriceVl)
    {
        price = formatPrice(maxPriceVl);
    }
    jQuery("#price-value").val(price + " {{ current_currency.symbol}}");
});
jQuery("#price-value").change(function(){
    var prices = jQuery("#price-value").val().replace('{{ current_currency.symbol}}', "").replace(/ /g,"").trim().split('-');
    if(prices.length > 1 && prices[1] != '') {
        price = formatPrice(prices[0])+' - '+ formatPrice(prices[1]);
    }
    else {
        price = formatPrice(prices[0]) + (event.keyCode === 109? ' - ' : '');
    }
    price += " {{ current_currency.symbol}}";
    jQuery("#price-value").val(price);
});
/*document.getElementById("price-value").addEventListener ("keyup", function (event) {
    if(event.keyCode === 37 || event.keyCode === 38 || event.keyCode === 39 || event.keyCode === 40)
        return;
    var thisPos = this.selectionStart;
    var prices = jQuery("#price-value").val().replace('{{ current_currency.symbol}}', "").replace(/ /g,"").trim().split('-');
    var price = "";
    if(prices.length > 1 && prices[1] != '') {
        price = formatPrice(prices[0])+' - '+ formatPrice(prices[1]);
    }
    else {
        price = formatPrice(prices[0]) + (event.keyCode === 109? ' - ' : '');
    }
    price += " {{ current_currency.symbol}}";
    jQuery("#price-value").val(price);
    this.setSelectionRange(thisPos + 1, thisPos + 1);
});*/

jQuery("#price-value").keyup(function(value){
    
});
function formatPrice(price) {
    if(!price)
    {
        return "";
    }
    price = parseInt(price);
    return price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
}
{% endcomment %}
   jQuery("#send-main-filter").click(function () {
       var termStr = getTermsString();
       if(termStr.length > 0){
            window.location.href = '{{ collection.url | full_url }}?terms=' + encodeURIComponent(termStr);
       }
   });
</script>