<div>
   <div class="col-md-3">
      <div class="dropdown form-control ">
         <div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="">
            {{ 'product.region' | t }}
            <span class="caret  caret_filter "></span>
         </div>
         <input type="hidden" id="region-value" value="">
         <ul class="dropdown-menu filter_menu">
            {% for item in collection.region_filter %}
                <li data-value="{{ item.value }}">{{ item.value }}</li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="col-md-3">
      <div class="dropdown form-control ">
         <div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="">
            {{ 'product.city' | t }}
            <span class="caret  caret_filter "></span>
         </div>
         <input type="hidden" id="city-value" value="">
         <ul class="dropdown-menu filter_menu">
            {% for item in collection.city_filter %}
                <li data-value="{{ item.value }}">{{ item.value }}</li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="col-md-3">
      <div class="dropdown form-control ">
         <div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="">
            {{ 'product.other_type' | t }}
            <span class="caret  caret_filter "></span>
         </div>
         <input type="hidden" id="other-type-value" value="">
         <ul class="dropdown-menu filter_menu">
            {% for item in collection.other_type_filter %}
                <li data-value="{{ item.value }}">{{ item.value }}</li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="col-md-3">
      <div class="dropdown form-control ">
         <div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="">
            {{ 'product.condition' | t }}
            <span class="caret  caret_filter "></span>
         </div>
         <input type="hidden" id="condition-value" value="">
         <ul class="dropdown-menu filter_menu">
            {% for item in collection.condit_filter %}
                <li data-value="{{ item.value }}">{{ item.value }}</li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="col-md-3">
      <div class="dropdown form-control ">
         <div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="">
            {{ 'product.distancetosea' | t }}
            <span class="caret  caret_filter "></span>
         </div>
         <input type="hidden" id="distancetosea-range" value="">
         <ul class="dropdown-menu filter_menu">
            <li data-value="distancetosea-under-300" value="distancetosea-under-300">{{'filter.to' | t }} 300 {{'filter.m' | t }}</li>
            <li data-value="distancetosea-300-500" value="distancetosea-300-500">300 - 500 {{'filter.m' | t }}</li>
            <li data-value="distancetosea-500-1000" value="distancetosea-500-1000">500 - 1000 {{'filter.m' | t }}</li>
            <li data-value="distancetosea-1000-2000" value="distancetosea-1000-2000">1000 - 2000 {{'filter.m' | t }}</li>
            <li data-value="distancetosea-2000-5000" value="distancetosea-2000-5000">2000 - 5000 {{'filter.m' | t }}</li>
            <li data-value="distancetosea-over-5000" value="distancetosea-over-5000">{{ 'filter.more' | t }} 5000 {{'filter.m' | t }}</li>
         </ul>
      </div>
   </div>
   <div class="col-md-3">
        <div class="dropdown form-control ">
            <div data-toggle="dropdown" class=" filter_menu_trigger  " xx="" data-value="">
                {{ 'filter.price2' | t }}
                <span class="caret  caret_filter "></span>
            </div>
            <input type="hidden" id="price-value" value="">
            <ul class="dropdown-menu filter_menu">
                <li data-value="price-under-100000" value="price-under-100000">{{ 'filter.to' | t }} 100 000 {{ current_currency.symbol }}</li>
                <li data-value="price-100000-150000" value="price-100000-150000"> 100 000 - 150 000 {{ current_currency.symbol }}</li>
                <li data-value="price-150000-200000" value="price-150000-200000"> 150 000 - 200 000 {{ current_currency.symbol }}</li>
                <li data-value="price-200000-500000" value="price-200000-500000">200 000 - 500 000 {{ current_currency.symbol }}</li>
                <li data-value="price-500000-1000000" value="price-500000-1000000">500 000 - 1 000 000 {{ current_currency.symbol }}</li>
                <li data-value="price-1000000-1500000" value="price-1000000-1500000">1 000 000 - 1 500 000 {{ current_currency.symbol }}</li>
                <li data-value="price-over-2000000" value="price-over-2000000">{{ 'filter.more' | t }} 2 000 000  {{ current_currency.symbol }}</li>
            </ul>
    </div>
   </div>
   <div class="col-md-3 property_bedrooms">
      
   </div>
   <div class="col-md-3">
      <button id="send-main-filter" type="submit" class="wpresidence_button">{{ 'filter.action' | t }}</button>
   </div>
</div>

<script>
{% comment %}
// set price from range
jQuery("#min-price-value, #max-price-value").change(function () {
    var price = "";
    var minPriceVl = jQuery("#min-price-value").val();
    var maxPriceVl = jQuery("#max-price-value").val();
    if(minPriceVl && maxPriceVl)
    {
        price = formatPrice(minPriceVl) + ' - ' + formatPrice(maxPriceVl);
    }
    else if(minPriceVl)
    {
        price = formatPrice(minPriceVl);
    }
    else if(maxPriceVl)
    {
        price = formatPrice(maxPriceVl);
    }
    jQuery("#price-value").val(price + " {{ current_currency.symbol}}");
});
jQuery("#price-value").change(function(){
    var prices = jQuery("#price-value").val().replace('{{ current_currency.symbol}}', "").replace(/ /g,"").trim().split('-');
    if(prices.length > 1 && prices[1] != '') {
        price = formatPrice(prices[0])+' - '+ formatPrice(prices[1]);
    }
    else {
        price = formatPrice(prices[0]) + (event.keyCode === 109? ' - ' : '');
    }
    price += " {{ current_currency.symbol}}";
    jQuery("#price-value").val(price);
});
/*document.getElementById("price-value").addEventListener ("keyup", function (event) {
    if(event.keyCode === 37 || event.keyCode === 38 || event.keyCode === 39 || event.keyCode === 40)
        return;
    var thisPos = this.selectionStart;
    var prices = jQuery("#price-value").val().replace('{{ current_currency.symbol}}', "").replace(/ /g,"").trim().split('-');
    var price = "";
    if(prices.length > 1 && prices[1] != '') {
        price = formatPrice(prices[0])+' - '+ formatPrice(prices[1]);
    }
    else {
        price = formatPrice(prices[0]) + (event.keyCode === 109? ' - ' : '');
    }
    price += " {{ current_currency.symbol}}";
    jQuery("#price-value").val(price);
    this.setSelectionRange(thisPos + 1, thisPos + 1);
});*/

jQuery("#price-value").keyup(function(value){
    
});
function formatPrice(price) {
    if(!price)
    {
        return "";
    }
    price = parseInt(price);
    return price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
}
{% endcomment %}
jQuery("#send-main-filter").click(function(){
    var queryString = "";
    if(jQuery("#region-value").val())
    {
        queryString+="region:" + jQuery("#region-value").val() + ";";
    }
    if(jQuery("#city-value").val())
    {
        queryString+="city:" + jQuery("#city-value").val() + ";";
    }
    if(jQuery("#other-type-value").val())
    {
        queryString+="other_type:" + jQuery("#other-type-value").val() + ";";
    }
    if(jQuery("#condition-value").val())
    {
        queryString+="condition:" + jQuery("#condition-value").val() + ";";
    }
    if(jQuery("#distancetosea-range").val())
    {
        queryString+="distancetosea:" + jQuery("#distancetosea-range").val() + ";";
    }
    if(jQuery("#price-value").val())
    {
        queryString+="price:" + jQuery("#price-value").val();
    }
    window.location.href = '{{ collection.url | full_url }}'+ '?terms=' + encodeURIComponent(queryString.trim(";"));
});
</script>