{% include 'filters/filter-seo-data' %}
<div style="z-index: 10000">
	<div class="main-filter-container search_wrapper clearfix" id="main-filter-controls">
		<div class="col-md-6">
			{% include 'filters/location' %}
		</div>
		<div class="col-md-3">
			<div class="dropdown form-control">
				<div data-toggle="dropdown" class="filter_menu_trigger">
					{{ 'filter.category' | t }}
					<span class="caret  caret_filter "></span>
				</div>
				<input data-ignore 
					   type="hidden"
					   data-seo-path="{{ collection.current_estate_type_filter.value | filter_seo_link: 'estatetype': filter_seo_links}}" 
					   property-name="estatetype" 
					   id="estate-type-value" 
					   value="">
				<ul class="dropdown-menu filter_menu" data-default-value="{{ 'filter.category' | t }}">
					<li data-value="*" value="{{ 'filter.category-any' | t }}">{{ 'filter.category-any' | t }}</li>
					{% for item in collection.estate_type_filter %}
					<li data-value="{{ item.value }}" data-seo-path="{{ item.value | filter_seo_link: 'estatetype': filter_seo_links}}">{{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<button id="send-main-filter" class="wpresidence_button">				
				<span id="count-result-dop-text" style="display:none">
                {{ 'filter.show-result' | t }}
				</span>
                <span id="result-count">Подобрать объект</span>
			</button>
		</div>
	</div>
</div>