<div class="search_wrapper">
   <div class="show-filters">
      <a class="wpresidence_button js-show-filters">Показать фильтры</a>
      <div class="adv-search-1">
         <div class="main-filter-container" id="main-filter-controls-mobile">
            <div class="col-md-6 clearfix">
               {% include 'filters/location' %}
            </div>
            <div class="col-md-3 clearfix">
               <div class="dropdown form-control">
                  <div data-toggle="dropdown" class=" filter_menu_trigger">
                     {{ 'filter.category' | t }}
                     <span class="caret  caret_filter "></span>
                  </div>
                  <input data-ignore type="hidden"
                         data-seo-path="{{ collection.current_estate_type_filter.value | filter_seo_link: 'estatetype': filter_seo_links}}"
                         property-name="estatetype"
                         id="estate-type-value" 
                         value="">
                  <ul class="dropdown-menu filter_menu" data-default-value="{{ 'filter.category' | t }}">
					<li data-value="*" value="{{ 'filter.category-any' | t }}">{{ 'filter.category-any' | t }}</li>
					{% for item in collection.estate_type_filter %}
					<li data-value="{{ item.value }}" data-seo-path="{{ item.value | filter_seo_link: 'estatetype': filter_seo_links}}">{{ item.value }}</li>
					{% endfor %}
				</ul>
               </div>
            </div>
            <div class="col-md-3 clearfix">
               <button id="send-main-filter-mobile" class="wpresidence_button">
                <span id="count-objects">
                {{ 'filter.show-result' | t }} 
                <span id="result-count"> все объекты</span>
               </span>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>