<div class="region-header">
   {%- if collection.h2_tip -%}
   <h2 class="padding15-0">{{- collection.h2_tip -}}</h2>
   {%- endif -%}
   <div class="row region-tails">
      {%- if collection.link_block_type1 -%}
      <div class="col-md-{%- if collection.link_block_type2 and collection.link_block_type3 -%}
          {{-4-}}
          {%- elseif collection.link_block_type2 == null or collection.link_block_type3 == null -%}
          {{-6-}}
          {%- else -%}
          {{-12-}}
          {%- endif -%}">
         <div class="block-inner" style="background-image: url({{collection.link_block_type1_image}})">
            <div class="bottom">
               {{- collection.link_block_type1 -}}
            </div>
         </div>
      </div>
      {%- endif -%}
      {%- if collection.link_block_type2 -%}
      <div class="padding15 col-md-{%- if collection.link_block_type1 and collection.link_block_type3 -%}
          {{-4-}}
          {%- elseif collection.link_block_type1 == null or collection.link_block_type3 == null -%}
          {{-6-}}
          {%- else -%}
          {{-12-}}
          {%- endif -%}">
         <div class="block-inner" style="background-image: url({{collection.link_block_type2_image}})">
            <div class="bottom">
               {{- collection.link_block_type2 -}}
            </div>
         </div>
      </div>
      {%- endif -%}
      {%- if collection.link_block_type3 -%}
      <div class="padding15 col-md-{%- if collection.link_block_type1 and collection.link_block_type2 -%}
          {{-4-}}
          {%- elseif collection.link_block_type1 == null or collection.link_block_type2 == null -%}
          {{-6-}}
          {%- else -%}
          {{-12-}}
          {%- endif -%}">
         <div class="block-inner" style="background-image: url({{collection.link_block_type3_image}})">
            <div class="bottom">
               {{- collection.link_block_type3 -}}
            </div>
         </div>
      </div>
      {%- endif -%}
   </div>
</div>